[2019-02-26 19:25] reuning commented on #655
That appears to have fixed it.

Sorry been trying to get this to work for like 24 hours using different setups. FWIW I was initially following the info on here https://discourse.mc-stan.org/t/cant-make-cmdstan-2-18-in-windows/5088/21

Not really sure why it works now but it does.

[2019-02-26 19:30] syclik commented on #655
So sorry it took so long to get started.

That flag allows you to declare a function in the Stan language without
defining it. It forces the build process to include a header file called
user_header.hpp, but it's clearly failing with an uninterpretable message
when that's not available.

I know it's a bit late, but I hope that helps.

On Tue, Feb 26, 2019 at 2:25 PM Kevin Reuning <notifications@gi

[2019-02-26 19:33] bob-carpenter opened #675 "use second evaluate of log density for time estimate; remove multiplier"
#### Summary:

If we use the first log density evaluation, it's going to include things like transfer costs of data for MPI.  We'll get a more accurate measurement for running the program by taking a second evaluation.

Also, we want to get rid of the overall estimate and just go with the single evaluation time.

#### Current Version:
v2.18.1

[2019-02-26 19:45] reuning commented on #655
Don't worry. I have cmdstan running already on my mac just needed to get it setup on my work windows computer and didn't think it would be as hard as it was. Thanks for the help.

[2019-03-02 00:56] mitzimorris opened #676 "'collate' utility - aggregates per-chain stan-csv files into single stan-csv file"
#### Summary:
CmdStan needs to provide a utility which can collate the output of running multiple chains using the same model, data, random seed, and HMC sampler settings into a single well-formatted stan-csv file that contains:

- random seed plus, other configuration info
- all draws
- summary of chain ids, draws per chain, seeds used

#### Description:
Currently the CmdStan manual suggests usin

[2019-03-08 06:56] slphyx commented on #673
I couldn't run the example too. (no error messages during the installation 2.18.1)
(Windows 10, RTools 3.5, cmdstan 2.18.1)

I got exactly the same output as @davidmanheim but for the command (no exe)

make examples\\bernoulli\\bernoulli

But when I added .exe (which we should do for Windows)
I got this instead

D:\Data-Work\Programs\cmdstan-2.18.1>make examples\\bernoulli\\bernoulli.exe

--- Tran

[2019-03-08 07:07] slphyx commented on #674
I got the same problem when I installed cmdstan 2.18.1 from https://github.com/stan-dev/cmdstan/releases/download/v2.18.1/cmdstan-2.18.1.zip

but after I changed to use the installation file from https://github.com/stan-dev/cmdstan/releases/download/v2.18.1/cmdstan-2.18.1.tar.gz
I didn't see the problem anymore.

[2019-03-11 11:12] seantalts opened #678 "Pull in threading and MPI documentation into CmdStan manual"
#### Summary:
Need to pull in doc from wiki so we can have it appropriately versioned and all in one place.

#### Description:
Currently the installation docs for setting CmdStan up with threading and MPI exist in wiki pages that are linked to from the CmdStan manual, but these wiki pages are not versioned, and we're approaching the point at which that will become a problem as we think about chang

[2019-03-14 15:37] wds15 commented on #678
BTW, I actually concur with @SteveBronder here in that optional stuff maybe not need that detail of doc as to how to use it. At least what he writes reminds me on what I was thinking at the time when introducing MPI.

What I think we agreed on with MPI is giving basic instructions which work in most cases (for example, what worked on your developer machine). In addition I gave instructions on the

[2019-03-14 15:43] SteveBronder commented on #678
Yeah I think Sean cleaned this up in the meeting today. Instead of install instructions we should have docs on the compiler flags to use. @wds15 I'm going to fix up the GPU cmdstan doc tonight and can add the compile flags to the mpi and threading stuff as well.

[2019-03-14 15:43] seantalts commented on #678
Oops, we talked about this just now in the meeting but I didn't mean we had to include install instructions for other people's software (e.g. MPI, OpenCL). Just that we had to include the instructions for our own software and list the external requirements and mention they can find install instructions for those elsewhere. So in this case we should say how to use `-DSTAN_OPENCL` etc.

[2019-03-14 15:44] SteveBronder commented on #678
or you can just slam those into my pr if you have time

[2019-03-16 12:09] wds15 opened #679 "cmdstan manual out of date"
#### Summary:
The list of tested libraries (and compilers, I think) is out of date.

#### Description:
We list boost 1.58.0 as being tested with 2.18.1 while 2.18.1 is deployed with 1.66.0. The other versions need to be checked.

#### Reproducible Steps:

#### Current Output:

#### Expected Output:

#### Additional Information:

#### Current Version:
v2.18.1

[2019-03-16 14:45] bob-carpenter commented on #679
@mitzimorris has been dealing with doc for this, so I'm assigning this one to her and prioritizing it for the next release.

[2019-03-18 04:06] mitzimorris commented on #679
will do all cleanups necessary for next release.

[2019-03-18 04:14] mitzimorris commented on #679
@seantalts tested on mojave?
https://github.com/stan-dev/cmdstan/blob/735f003521a414f710681c3b7cc8ea451f62e718/src/docs/cmdstan-guide/installation.tex#L23

[2019-03-18 08:14] seantalts opened #680 "[blocking 2.19] Building the CmdStan manual is broken on develop"
#### Summary:
Looks merging Stan PR https://github.com/stan-dev/stan/pull/2719 broke this.

errors: https://circleci.com/gh/stan-dev/cmdstan/183

#### Current Version:
v2.18.1

[2019-03-18 14:48] bob-carpenter commented on #680
Fixed with  https://github.com/stan-dev/cmdstan/pull/681

[2019-03-18 14:48] #680 closed

[2019-03-20 18:03] bob-carpenter opened #682 "cmdstan not compiling; multiple warnings"
#### Summary:

CmdStan doesn't build.  I have the latest cmdstan on develop and have up-to-date stan and math lib.

#### Description:

[code]

And then it goes on to list what looks like every file in our repo.   Then after many repetitions of

[code]

it ends with

[code]
~/cmdstan(develop)$ clang++ --version
Apple LLVM version 10.0.0 (clang-1000.11.45.5)
Target: x86_64-apple-darwin17.7.0
Thread

[2019-03-20 18:26] mitzimorris commented on #682
did you do `make stan-update`?

this worked on my machine:
[code]

[2019-03-20 19:56] bob-carpenter commented on #682
OK, that worked.  You can see from my issue that I did exactly those steps with the addition of going into `cmdstan/stan` and updating the math lib.  I take it I shouldn't be doing that?

[2019-03-25 08:29] davidmanheim commented on #673
Per other thread, this works in cmdstan 2.19.

Closing.

[2019-03-25 08:29] #673 closed

[2019-03-27 20:39] bob-carpenter commented on #682
This exact same thing happened to me again.  And this time I slavishly followed @mitzimorris's advice and it's still broken.

[code]

I have no idea how to tackle this problem.

[2019-03-27 20:42] seantalts commented on #682
I had this same issue: https://github.com/stan-dev/cmdstan/issues/668

[2019-03-27 21:02] bob-carpenter commented on #668
Do I need to keep that dependency generation edited out?  Is it not flushed with clean-all?

[2019-03-27 21:04] bob-carpenter commented on #668
The xcode install doesn't do anything for me.

[code]

[2019-03-27 21:06] bob-carpenter commented on #668
I do not see `-include $(MATH)make/dependencies` in the makefile from 2.18.1, but it's in the latest.  I'm getting this same problem with 2.18.1, which I installed to get around the current develop not working for me.  But now 2.18.1 is also broken.

[2019-03-27 21:08] syclik commented on #668
@bob-carpenter, is this something you're seeing now? What git hashes are your CmdStan, Stan, and Math at now?

[2019-03-27 21:09] bob-carpenter commented on #682
Commenting out:

[code]

in the cmdstan makefile managed to get things building again with the current develop version.

Should this just be removed from the makefile if it's causing problems?  If not, how do I fix without editing the makefile?

[2019-03-27 21:15] bob-carpenter commented on #668
I checked out a binary version of 2.18.1 so it'd work, so no hashes other than the release.  But it ran into the same problem without the math dependencies thing that @seantalts mentioned above.

 I'm not sure how to get the hash for my current branch.  As usual, I don't understand even simple answers on Git stackoverflow.

But here's what it looks like when I check out develop and run `make stan-

[2019-03-27 21:17] bob-carpenter commented on #668
The main issue for my problem is:  https://github.com/stan-dev/cmdstan/issues/682

@seantalts just commented that he had the same problem (though I don't see that here), so I reopened this one, too.

[2019-03-27 21:31] syclik commented on #668
I see. Let me go and comment on #682.

On Wed, Mar 27, 2019 at 5:17 PM Bob Carpenter <notifications@github.com>
wrote:

[2019-03-27 21:34] syclik commented on #682
This is failing with building Boost. I’ve seen it pop up and disappear on its own, but haven’t been able to track it down to something repeatable. Mind pasting what’s in your `make/local`? Maybe that would clue us into some condition that would cause it to fail.

@wds15: any ideas on when Boost fails to build?

[2019-03-27 21:36] syclik commented on #682
@bob-carpenter: I don’t know if commenting out dependencies actually fixes it. I believe I have the same compiler, so I’ll try to build from scratch tonight.

[2019-03-27 21:40] bob-carpenter commented on #682
Commenting out that dependency made mine work. But there's so much state floating around, I wouldn't bet that's what fixed it.

[2019-03-27 22:15] syclik commented on #682
I’ve seen it go away by building a second time. But I’ve seen it fail there
before. I definitely believe that there is a condition where it doesn’t
build successfully.

I'll try to see if I can reproduce it by being systematic and trying to
make it fail. My guess is that this in our building of Boost, but that's
just a guess.

Do you have any instructions for MPI inside your make/local? If those
a

[2019-03-28 00:30] syclik commented on #682
@bob-carpenter, what's in your `foo.stan`?

[2019-03-28 01:32] syclik commented on #682
So... I spent a little time on it and couldn't reproduce the failure. A few things:

- the warnings are coming from building Boost. I've tried looking for ways to squash it, but I can't find a decent one. If you want to run that part separately, run `make build-mpi`
- I don't know why you're building Boost right now. If things are cleaned out and you don't have a `make/local` file, then it shouldn

[2019-03-28 16:52] bob-carpenter commented on #682
Nothing in `make/local` but I've used `mk`, which is this:

[code]

`foo.stan` is this---I've just been using it to experiment with code generation.

[code]

[2019-03-28 18:08] syclik commented on #682
That's super-weird that it would trigger a build of Boost with that alias.

You might want to update your alias so it's:
alias mk="make -j4 CXX=clang++ O=0"

With v2.19.0, we've cleaned up the use of the compiler variable to just be
CXX for the C++ compiler.

On Thu, Mar 28, 2019 at 12:52 PM Bob Carpenter <notifications@github.com>
wrote:

[2019-03-30 15:06] mitzimorris commented on #679
updated docs, released.

[2019-03-30 15:06] #679 closed

[2019-04-01 02:43] ode33 opened #685 "Doc: B.6. Instruction to Edit File Which Doesn't Exist"
#### Summary:
Section B.6. of the CmdStan Guide currently reads:

"Users can customize how the tools are built by editing `make/local`
inside the `<cmdstan-home>` directory."

References to `make/local` continue throughout this section.

#### Description:
File `make/local` doesn't exist. An instruction to create such a file, in the case that it should be created, are missing.

#### Current Version

[2019-04-01 14:46] bob-carpenter commented on #685
Do we need more than "editing" changing to "editing (or creating)"?

[2019-04-01 15:23] increasechief commented on #685
Not sure. No prior CmdStan releases has had the file. However files like `os_linux` where included up until recently.
[code]

[2019-04-01 15:42] increasechief commented on #685
Not certain, in the past releases `make/local` was always referred to but never exists. Otherwise it's seems simple to revise the wording to: "create and edit `make/local`". Or to include `local` as an empty template.

[2019-04-01 18:23] bob-carpenter commented on #685
We can't check in an empty one without putting it in .gitignore, because otherwise it'll get overwritten.  So I think it'll be safer to just ask people to create one if they don't have one already.

[2019-04-05 01:53] ode33 commented on #685
Resolved by PR #687.

[2019-04-05 01:53] #685 closed

[2019-04-15 01:05] seantalts opened #692 "[Jenkins] trigger a performance test on pull requests or downstream_tests"
There is some code to execute relative tests (ie tests of one cmdstan commit against another) here: https://github.com/stan-dev/performance-tests-cmdstan/blob/master/Jenkinsfile#L51
We want to do this automatically for pull requests anywhere in CmdStan, Stan, or Math, so we should probably put a new stage here https://github.com/stan-dev/cmdstan/blob/develop/Jenkinsfile#L49 that triggers when bran

[2019-04-16 14:06] seantalts commented on #692
#691 solves this, though it might need one more thing (noted in the review on the PR).

To hijack this issue a little - can we parse the comparative results and display them prominently on the pull request somehow? You can see the results I'm talking about if you click on the CmdStan build, click on the Upstream CmdStan Performance Tests stage, go to that downstream_tests build, and click on the o

[2019-04-16 15:15] serban-nicusor-toptal commented on #692
I may have an idea, working on it.

[2019-04-24 10:34] mitzimorris commented on #676
investigated - not worth pursuing.

[2019-04-24 10:34] #676 closed

[2019-04-24 10:35] mitzimorris commented on #659
addressed by https://github.com/stan-dev/cmdstan/pull/684

[2019-04-24 10:35] #659 closed

[2019-04-24 10:38] mitzimorris commented on #664
fixed in March - added img directory to cmdstan guide
https://github.com/stan-dev/cmdstan/commit/56615e752ee35ae67f9e6635327f009848f6a6e0#diff-aa768560d4cf6d748334de4203f1a031

[2019-04-24 10:38] #664 closed

[2019-04-24 10:47] mitzimorris commented on #613
agreed it would be nice to have comments - this is a limitation of the stan::io::dump reader.
the appendix of the CmdStan guide specifies the BNF for Stan's custom Rdump parser.
that specification doesn't include comments.
technically, this is a limitation of the stan::io::dump reader.

CmdStan now allows JSON inputs as well - note that JSON doesn't support comments - https://stackoverflow.com/que

[2019-04-24 10:47] #613 closed

[2019-04-24 12:53] mitzimorris commented on #658
I see the fix that's needed - the cmdstan argument parser allows any int value.
the fix is to add function "is_valid" to file 'cmdstan/arguments/arg_seed.hpp'
will do ASAP.

[2019-04-30 13:46] seantalts commented on #692
Fixed by #691

[2019-04-30 13:46] #692 closed

[2019-05-14 11:26] s144117 opened #702 "Error compiling Bernoulli example"
#### Summary:
Hi,
I have been using PyStan a lot, but am trying to change to CmdStan in order to play with the mass matrix.
I have followed the installation guide at [https://github.com/stan-dev/cmdstan/wiki/Getting-Started-with-CmdStan](url).
But I cannot compile the Bernoulli example.

#### Description:
OS: Scientific Linux release 7.6 (Nitrogen)
gcc: 7.3.0
CmdStan: The newest using clone, I'll

[2019-05-14 16:20] bob-carpenter commented on #702
This looks like a problem with the C++ toolchain install.   I just cut and pasted `[error while loading shared libraries: libmpc.so.2: cannot open shared object file: No such file or directory]` into Google and found this:

https://stackoverflow.com/questions/19625451/cc1-error-while-loading-shared-libraries-libmpc-so-2-cannot-open-shared-objec

[2019-05-14 17:29] bob-carpenter opened #703 "cmdstan broken build for PCH"
#### Summary:

It used to work to do:

[code]

where `foo.stan` is a Stan program.  That doesn't work any more.  Now, you have to first do:

[code]

This should be automated as a dependency in the first make target.

#### Current Version:
v2.19.1

[2019-05-14 17:35] seantalts commented on #703
I've never seen this before. I'm not sure it would help to blow away all the gch files but a command that would do that would be `find . -name *.gch | xargs rm -rf`.

Is this on a fresh CmdStan?

[2019-05-14 17:38] bob-carpenter commented on #703
There isn't a PCH file.  That's the problem.

~/cmdstan(develop)$ find . -name *.gch | xargs rm -rf.
~/cmdstan(develop)$

Not a fresh CmdStan.  I have to keep reinstalling CmdStan to make any progress.  It's pretty much unusable for me in the present state.

[2019-05-14 17:42] seantalts commented on #703
I suspect that you must have done something to your CmdStan that causes this, especially if starting fresh works. Can you paste the git status and maybe git diff?

[2019-05-14 17:43] bob-carpenter commented on #703
[code]

[2019-05-14 17:46] seantalts commented on #703
Is this on your mac laptop? What's in make/local?

[2019-05-14 17:47] bob-carpenter commented on #703
OK, now I'm going to do it all with a clean Stan in the same CmdStan.  Which produces the same result.

[code]

[2019-05-14 17:47] bob-carpenter commented on #703
I don't have a `make/local`, so nothing.

[2019-05-14 17:48] seantalts commented on #703
Can you paste the full output?

[2019-05-14 18:04] bob-carpenter commented on #703
From the top:

[code]

[2019-05-14 18:06] seantalts commented on #703
can you double check that `stan/src/stan/model/model_header.hpp.gch` does not exist (worried it may be corrupted or something). If it doesn't exist, what happens if you type `make stan/src/stan/model/model_header.hpp.gch`?

[2019-05-14 18:07] bob-carpenter commented on #703
I just installed again from a clean clone from GitHub and get the same problem of no PCH file found.

[2019-05-14 18:08] bob-carpenter commented on #703
Working from the clean install, no PCH file.

[code]

[2019-05-14 18:12] bob-carpenter commented on #703
Can you build a Stan model from a fresh CmdStan checkout?  I'm worried now that it doesn't work from a fresh build---the last time this kind of thing happened, fresh checkouts worked.

[2019-05-14 18:16] seantalts commented on #703
Jenkins does this many times a day on 3 OSes. Double checking on my laptop with a fresh clone but that takes a while, will report back if it doesn't work.

[2019-05-14 18:17] seantalts commented on #703
There was also this question:

[2019-05-14 18:20] bob-carpenter commented on #703
[code]

Great.  Then it works after that.

So it looks like the makefiles have a missing dependency on building the pch files.  I used to just be able to use it the way I've been trying to use it here.  And I can use it this way (just make the target exectuable) once the pch files exist.  I'll revise the issue.  Can you assign it to the appropriate person?

[2019-05-14 18:20] syclik commented on #703
@bob-carpenter, can you check a few more things?

1. Do you have a file in `~/.config/stan/make.local`? If so, what does it say?
2. Can you run this from the `stan` subdirectory and report back?
[code]
3. And... just to check, what version of clang? `clang++ -v`

[2019-05-14 18:22] seantalts commented on #703
It works fine for me without that manual make step on a fresh install on Mac. I'm really not sure what's going on for you...

[2019-05-14 18:22] bob-carpenter commented on #703
No make.local or make/local.  The problem turns out to be needing to build the PCH file explicitly first. I updated the issue.  I don't know how to debug what's going on for me without help.

[2019-05-14 18:23] bob-carpenter commented on #703
Trying to answer all the questions here.

[code]

[2019-05-14 18:24] bob-carpenter commented on #703
[code]

[2019-05-14 18:25] seantalts commented on #703
Yeah, honestly I don't know what to dig into at this point either... @syclik do you have ideas? It works for all the OSes Jenkins tests and for me locally also on my macbook air, though it's running clang 6.0.1 (non-Apple) and GNU make 3.81.

[2019-05-14 18:29] syclik commented on #703
@bob-carpenter, can you run `git status --ignored` from `~/stan-dev/cmdstan/stan`?

[2019-05-15 03:43] betanalpha commented on #703
Just for reference I didn’t have any issue on a clean cmdstan
install on OS X 10.12.6 with

Apple LLVM version 9.0.0 (clang-900.0.39.2)
Target: x86_64-apple-darwin16.7.0
Thread model: posix
InstalledDir: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin

where

gauss.stan is

[code]

[2019-05-15 18:56] bob-carpenter commented on #703
This is after I built the model header and everything worked:

~/stan-dev/cmdstan/stan((bb3c10a...))$ git status --ignored
# Not currently on any branch.
# Ignored files:
#   (use "git add -f <file>..." to include in what will be committed)
#
#	src/stan/lang/ast_def.d
#	src/stan/lang/grammars/bare_type_grammar_inst.d
#	src/stan/lang/grammars/block_var_decls_grammar_inst.d
#	src/stan/lang/grammars/

[2019-05-15 20:40] syclik commented on #703
Thanks. It looks like you have the .gch file sitting there. Would you mind
deleting:
~/stan-dev/cmdstan/stan/src/stan/model/model_header.hpp.gch

If that doesn't work, try this:
cd ~/stan-dev/cmdstan/stan; make clean-deps

then get back into CmdStan and run whatever you were trying to do. If
either of those works, would you let me know? I can try to add the
appropriate dependencies into the CmdSta

[2019-05-16 09:22] s144117 commented on #702
Thanks for answering. I found that too, but couldn't resolve the problem.
Turned out to be a very silly mistake on my part. I was running cmdStan and diagnosing in two different terminals. But only one was connected to the server with the correct prerequisites.
My apologies.

[2019-05-16 09:22] #702 closed

[2019-05-23 23:30] #610 closed

[2019-05-30 04:55] syclik opened #707 "Add compile_info target for makefile"
#### Summary:
Make does not support spaces in paths. The makefile could print the exact compiler configuration that could be invoked (from the CmdStan path) to create an executable with spaces in paths.

We can provide that with `make compile_info`.

#### Description:
We'd want `make compile_info` to produce something like:
[code]

The two things that we'd expect someone using this is to add:
[cod

[2019-06-03 12:45] #707 closed

[2019-06-16 09:49] wds15 opened #709 "Add Intel TBB"
#### Summary:
Make the Intel TBB available.

#### Description:
This is makes the use of the TBB available in Stan.

#### Reproducible Steps:

#### Current Output:

#### Expected Output:

#### Additional Information:
Provide any additional information here.

#### Current Version:
v2.19.1

[2019-06-17 18:58] mitzimorris opened #711 "update CmdStan to output "adapt delta (target acceptance rate)""
#### Summary:
The NUTS adaptation algorithm has parameter `delta` which is the target acceptance rate.  In the interfaces, this is called `adapt_delta` (RStan, PyStan), `adapt delta` using CmdStan's nested argument structure.

Change the outputs to clarify that delta is the target acceptance rate.

#### Description:
see https://mc-stan.org/docs/2_19/reference-manual/hmc-algorithm-parameters.html,

[2019-07-04 19:55] bob-carpenter opened #712 "use model base class for standalone compilation"
#### Summary:

Replace use of templated type in command.hpp with a call to a factory method defined in the generated model class:

[code]

This depends on `stan-dev/stan` issue https://github.com/stan-dev/stan/issues/2759, which takes care of adding a virtual base class, a CRTP extension, and generating appropriate model code.

#### Current Output:

Is fine.

#### Expected Output:

Should not chan

[2019-07-06 19:58] bob-carpenter commented on #712
Model compilation is now taking 7s on my machine, including linking!

To try it yourself, check out branches:

* stan-dev/cmdstan branch: `feature/0712-model-base-class`
* stan-dev/stan branch:  `feature/2759-model-base`

The issues have the matching numbers.  Use the stan branch to generate appropriate `.hpp` files.

Here's how to compile from the top-level `cmdstan` directory, the various bits.

[2019-07-06 20:38] bob-carpenter commented on #712
For discussion, see https://discourse.mc-stan.org/t/separate-compilation-of-model-and-services-code-complete/9565

[2019-07-08 04:06] mitzimorris commented on #712
just updated the makefile and rulesfile `make/program`  - works on my machine.

[2019-07-08 04:09] mitzimorris commented on #712
this didn't actually work - perhaps not all of the sequence of session commands was captured?

[2019-07-08 04:39] mitzimorris commented on #712
@bob-carpenter I edited some comments, so please click through to issue from your email.

[2019-07-08 18:29] bob-carpenter commented on #712
Those were ones I was just cutting and pasting.  What failed when you tried it and what did you need to add to get it to work?

The sundials and MPI libs are binaries, so I hope they don't add a lot to compile time.  I don't know what `LBLIBS` is.

1.  To check if it's machine effect, can you compare new compile times vs. old compile times on your machine?

2. Did the precompiled headers get inclu

[2019-07-08 23:28] mitzimorris commented on #712
on my machine, bernoulli model under CmdStan 2.19.1 takes 23 sec to compile executible from bernoulli.hpp.

for this PR,  the makefile rule that goes from .hpp file to executable takes 10 sec.

the makefile, as written, also generates a .d file - this takes 1-2 seconds on my machine.  is this necessary?    @syclik - do the Stan model files need a dependencies file?

[2019-07-09 00:17] mitzimorris commented on #712
found my error - precompiled headers are needed at compile time, not link time.
fixed and pushed.

bernoulli model, going from .hpp to executible:  now 7 secs, (2.19.1 is 23 seconds).
slightly larger model (bym2), now 9 secs, (2.19.1 is 28).

[2019-07-11 07:13] s144117 opened #714 "Does cmdStan allocate space for output files?"
Hi,

I have had a sampler run for the past week, 50% done at the moment.
Yesterday I ran out of space on my partition of the computer, didn't realize it.
As a result some more simple runs threw an error when using the `diagnose` function.
I discovered the sampler had continued but no samples had been stored in the output file.
I am not worried about the short runs. But the one that has been runnin

[2019-07-11 11:20] seantalts commented on #714
There's no space allocated ahead of time, no. And there's currently no way
to "continue" sampling from that exact chain, but you can change the random
seed and start sampling again and those should be from the same
distribution as the ones you already have, meaning you can concat them all
together and treat them all as draws from the posterior as long as the
posterior is ergodic and NUTS is workin

[2019-07-11 11:32] #714 closed

[2019-07-12 21:34] goedman commented on #712
Bob, where is big_norm.hpp coming from? Just any model your using to test this on?

[2019-07-15 16:16] bob-carpenter commented on #712
Yes, big_norm.hpp was just a simple example model.

[2019-07-15 19:04] bob-carpenter opened #715 "return codes defined and documented"
#### Summary:

Return codes for the executable for compiled Stan programs are not defined.  Define them and add them to the CmdStan documentation.

#### Description

Return code 0 should indicate that everything returned normally and that all expected output exists.  It does *not* need to indicate that the resulting sample is reliable.

#### Current Version:
v2.19.1

[2019-07-15 19:38] bob-carpenter commented on #715
This is the return codes produced by the CmdStan main in `src/cmdstan/main.cpp`, which delegates to `src/cmdstan/command.hpp`

### Output

Output is streamed to three generic targets from the command itself

* `info` (`callbacks::streamwriter`)
* `err`  (`callbacks::streamwriter`)
* `logger` (`callbacks::stream_logger`)

as well as service-specific streams, such as a sample writer, diagnostic writ

[2019-07-18 19:25] mitzimorris commented on #712
addressed via PR https://github.com/stan-dev/cmdstan/pull/713

[2019-07-18 19:25] #712 closed

[2019-07-18 19:26] mitzimorris commented on #703
closing - not a problem with current makefile.

[2019-07-18 19:26] #703 closed

[2019-07-18 19:30] mitzimorris commented on #682
closing for now - makefile has been since been updated twice.

[2019-07-18 19:30] #682 closed

[2019-07-18 19:32] mitzimorris commented on #668
closing - current makefile changed to avoid circular dependencies.

[2019-07-18 19:32] #668 closed

[2019-07-18 19:37] mitzimorris commented on #634
closing - the question has been answered.

[2019-07-18 19:37] #634 closed

[2019-07-18 19:54] mitzimorris commented on #658
fixed by https://github.com/stan-dev/cmdstan/pull/695

[2019-07-18 19:54] #658 closed

[2019-07-18 19:59] mitzimorris commented on #633
@syclik - how exactly do include paths get specified using current makefiles?

[2019-07-18 20:07] syclik commented on #633
I don’t understand. What paths? Trying to read your mind: source include
paths or linker paths or path of the target or...?

On Thu, Jul 18, 2019 at 3:59 PM Mitzi Morris <notifications@github.com>
wrote:

[2019-07-18 20:28] mitzimorris commented on #633
I'm talking about how to compile Stan programs which use the Stan language `include` directive where the included files reside in another directory - how does
`make foo/bar/stan_program_with_includes` parse out the names of those included directories?

this feature was actually added to CmdStanPy - https://github.com/stan-dev/cmdstanpy/pull/44
I'm just confused looking through the makefiles to see

[2019-07-18 20:32] mitzimorris commented on #633
if the makefiles are working such that Stan programs can includes files from another directory, then we need to add info to the docs.

[2019-07-18 21:44] syclik commented on #633
I still don't exactly know what you're looking for... maybe a little more help?

There's some doc in the CmdStan documentation and in the makefile.

https://github.com/stan-dev/cmdstan/blob/develop/makefile#L78
https://github.com/stan-dev/cmdstan/blob/develop/src/docs/cmdstan-guide/stanc.tex#L118

Does that help?

[2019-07-18 23:40] mitzimorris commented on #633
yes, that's helpful.   I'm not sure this feature will work as advertised -  do we have makefile tests for this use case?

[2019-07-19 14:40] seantalts opened #716 "models using cvodes compilation broken on Linux"
#### Summary:
Compilation of [edit:some] models using cvodes is broken in 2.20.0 on Linux. SIR seems fine but one_comp_mm_elim_abs doesn't compile.

#### Description:
[code]

#### Reproducible Steps:
Try compiling the one_comp_mm_elim_abs model from stat_comp_benchmarks on Linux.

#### Current Version:
v2.20.0

[2019-07-19 15:06] wds15 commented on #716
I thought the SIR model uses the RK45 integrator?

(I am surprised to see this issue given that the performance benchmarks did run on the PR for the model-base stuff)

[2019-07-19 15:08] seantalts commented on #716
Yeah - the performance benchmarks run on Mac OS X in this repo. In stanc3 they run on Linux, hence me finding this bug first (everything in stanc3 is broken now because of this bug).

[2019-07-19 16:38] #716 closed

[2019-07-25 13:55] demodw opened #718 "Running tests for OpenCL"
#### Summary:
When compiling cmdstan with OpenCL support, the following test fail:

[code]

See screenshot for the exact message. Unfortunately I cannot copy the error out from the server.
![Screen Shot 2019-07-25 at 15 44 31](https://user-images.githubusercontent.com/5146736/61879346-25719f00-aef3-11e9-9ae0-a6d27b87d9ac.png)

Oddly enough, the math-stan test,

[code]

runs with no errors.

I can

[2019-08-05 13:14] mitzimorris opened #719 "User RapidJSON to parse JSON input"
#### Summary:

work done for https://github.com/stan-dev/stan/pull/2793 would be better if it were done instead directly in CmdStan

#### Description:

CmdStan is the only Stan client which needs a JSON parser.

 - add directory `io/json` to `cmdstan/src/cmdstan` and put all files under `stan/src/stan/io/json` in that repo.

- add corresponding unit tests

- add directory `cmdstan/lib` and add ujs

[2019-08-05 13:17] mitzimorris commented on #719
@rok-cesnovar - do you want to keep working on this as part of CmdStan?  else I will.

[2019-08-05 14:15] rok-cesnovar commented on #719
Yes, of course. Thank you for creating the issue. We need to sort out the open questions below. After that I will open a PR.

Also tagging @bob-carpenter for the answers to his questions/comments from [here](https://github.com/stan-dev/stan/pull/2793#issuecomment-518229120). Hopefully it wont be too confusing if I answer the questions here.

Since we will not be parsing comments do we need to chec

[2019-08-05 18:35] rok-cesnovar commented on #718
First of all sorry for the late reply, I was not getting notifications for cmdstan issues.

Anywaysm if you havent solved the issue. Could you post the contents of the make/local file?

Yes, GPU GLMs have not been merged to develop yet, hopefully in the next month.

[2019-08-05 19:52] rok-cesnovar commented on #718
I was able to reproduce this error. Thank you for the report.

It seems that building anything with STAN_OPENCL=true on 2.20 is not working. I am guessing this is related to the model base class PR. There arent any issue with the latest version of math.

Is the OpenCL interface not being run on the cmdstan repo?

@SteveBronder any ideas?

[2019-08-05 20:06] SteveBronder commented on #718
I'll look into this tmrw but I'm pretty sure you are right on with the CRTP rebuild

[2019-08-05 20:29] rok-cesnovar commented on #718
I will also dig deeper tomorrow, for now what I have found is this.

When linking the model `-lOpenCL` flag should be after `src/cmdstan/main.o`

This is how its called now:
[code]
If `-lOpenCL` is placed behind main.o its all fine:
[code]
Not sure exactly on where that could be changed in the cmdstan makefile structure, but its probably an easy fix for anyone more familiar with that.

[2019-08-06 01:18] danmrc opened #720 "Backslash in paths generates C++ error"
#### Summary:

I am using cmdStan in Julia in Windows 10. I apologize if this is a Julia related error. What happens is that when Stan generates the file for C++ it uses backslash in the file path, and this makes C++ throw an error.

#### Description:

I am not sure if this is an issue with cmdstan or stan.jl, so if I am opening the issue in the wrong place I apologize.

I am using Julia 1.0.0, cm

[2019-08-06 08:22] seantalts commented on #720
It looks like you're in roughly the right place - I think this is probably
a bug in the Stan compiler, though I'm surprised it's only surfacing now...
I'll look into it - there's a good chance it will be fixed when we switch
to stanc3.

On Tue, Aug 6, 2019 at 02:18 Daniel Coutinho <notifications@github.com>
wrote:

[2019-08-06 16:42] seantalts commented on #720
Yeah, this looks like a bug in CmdStan that only occurs with absolute paths on Windows. It doesn't look like it's new in 2.20.0 - I can reproduce it in 2.19.1 as well. Thanks for reporting!

[2019-08-06 17:03] seantalts commented on #718
Yep, we need to place all of the libraries like that behind the Stan objects. @mitzimorris would you have time to take a look at this regression? I can also take a look on Thursday if not.

Can someone see if this is broken in develop? I ask because MPI had a similar issue and I dug into it (and wrote up my findings about how linkers work, haha) and fixed it here: https://github.com/stan-dev/cmdst

[2019-08-07 08:21] rok-cesnovar commented on #718
I just went and checked, its not broken anymore on develop. Thank you for solving that! I guess we can close this issue then.

Useful link :raised_hands:

[2019-08-08 17:36] #718 closed

[2019-08-09 10:21] rok-cesnovar commented on #719
So to re-iterate what are the open questions (for the first 2 I have solutions ready whatever we decide to do):

- is it fine if we round to zero if the parsed number is too small to represent in double? Existing parser threw an error in this case.

- if an integer is too large, is it fine if we parse it to double and let the data handler throw an error? Existing parser threw an error in this case

[2019-08-09 14:02] bob-carpenter commented on #719
OK by me.

I'd rather throw here.

We're going to move Stan to 64-bit integers at some point and we'll have to change the cutoff point if we convert.

I don't think converting to double is the end of the world here.

I don't think it's critical to validate character encodings.

Current behavior is that bytes within comments (after "//" or "#" or between "/*  */") are ignored.

Checking UTF-8 is mo

[2019-08-12 18:14] jmcoglianese opened #721 "Error compiling stansummary.o"
#### Summary:
I'm setting up cmdstan on a linux server and running into an issue compiling it. When I try "make build", it throws an error when compiling stansummary.o related to the 'is_nan' function (full details below).

#### Description:
I initially tried compiling a model without running 'make build' first, and ran into the same error. I also tried building from the released source tar.gz on

[2019-08-12 18:15] seantalts commented on #721
Can you try again with GCC 4.9.3+? That's our minimum supported GCC
version. Thanks!

On Mon, Aug 12, 2019 at 19:14 jmcoglianese <notifications@github.com> wrote:

[2019-08-13 19:18] betanalpha opened #722 "Default Random Seed Doesn't Work As Expected"
#### Description:

Default random seed of -1 returns consistent results for each evaluation and not the varying results expected by the documentation and tests.  This is causing upstream tests to fail blocking development of the core Stan code.

#### Reproducible Steps:

./runCmdStanTests.py src/test/interface/command_test.cpp

fails for the v2.20.0 tag [OS X 10.12.6, Apple LLVM version 9.0.0 (cla

[2019-08-13 19:27] rok-cesnovar commented on #722
That might explain recent fails on develop (see last comment in https://github.com/stan-dev/math/pull/1296)

[2019-08-13 19:33] betanalpha commented on #722
Yeah, it’s definitely blocking stan pull requests so it should also be
blocking math pull requests via the same upstream tests.

[2019-08-13 19:35] rok-cesnovar commented on #722
Are you seeing this on 2.20 and also on develop or just develop?

[2019-08-13 19:39] betanalpha commented on #722
I’m seeing this on develop but I most thoroughly
verified on v2.20.0 where I could align all of the
repos with the tag (and where the code was
supposed to be in a good state).

Boost doesn’t seem to have been touched,
so I’m not sure why the RNG behavior would
have changed.  Regardless the test may be
relying on undefined behavior, at least for
Boost 1.69.

[2019-08-13 19:48] rok-cesnovar commented on #722
Can confirm this test fails if you run it on 2.20 tar from the releases tab. The question is how did this ever pass tests?

[2019-08-13 20:55] rok-cesnovar commented on #722
Its getting late so just putting out my findings so far:

After 5f13b7c8196a1214efe753362886589f5f01198c (merge of PR #695) I am seeing the following errors:
[code]
Before this commit the random tests pass, there are only these 3 before that PR merge:
[code]
After I apply the next commit ( the model base class PR #713 ) I start getting the same error we are getting now:
[code]

None of these commi

[2019-08-14 16:59] rok-cesnovar commented on #722
The issue is this line

`random_arg->set_value((boost::posix_time::microsec_clock::universal_time() - boost::posix_time::ptime(boost::posix_time::min_date_time)).total_milliseconds());`

The time diff returned by total_milliseconds is an `unsigned int` but its outside the range of `int` (`random_arg->set_value` expects an integer) so it overflows.

I will clean this up and make a PR.

[2019-08-14 17:49] betanalpha commented on #722
Good catch — I completely missed that line between
reading the seed in and when it is used later.

[2019-08-14 18:59] #722 closed

[2019-08-14 19:03] betanalpha commented on #722
Thanks!

[2019-08-14 20:26] seantalts commented on #722
Awesome work, thank you!

On Wed, Aug 14, 2019 at 20:03 Michael Betancourt <notifications@github.com>
wrote:

[2019-08-16 01:54] jmcoglianese commented on #721
I can't change the gcc version since it's a university-managed server unfortunately. I'll close the issue since it sounds like it's just a matter of having the right version. It would be great to upgrade the documentation, though, I thought I would be fine since it said you only needed g++ 4.2.1 or higher.

[2019-08-16 01:54] #721 closed

[2019-08-16 07:40] seantalts commented on #721
You can often install a new compiler and toolchain in your home directory and set CXX to that.

I'll submit a pull request to update the version. We take them from anyone too, if you wanted to get involved :)

[2019-08-16 14:34] abdmoussa commented on #709
Hello every body, i am new here
I am trying to use intel TBB toolkit for testing some simple code, but when compiling with c++11 i get error message :

[code]
Some body can help.
Thanks in advance

[2019-08-26 18:33] rok-cesnovar commented on #719
Ok, based on the discussion with @mitzimorris at Stancon, I decided to move this along and we can address my questions on the final PR review.

I opened 2 PRs that will move the existing parser code to Cmdstan (https://github.com/stan-dev/cmdstan/pull/726) and remove it from Stan (https://github.com/stan-dev/stan/pull/2803). Once that is merged we can add RapidJSON to cmdstan. I think that makes t

[2019-08-28 15:22] bbbales2 opened #727 "Makefile not respecting changes in stan submodule"
#### Summary:

For a model is built in cmdstan, if the algorithms in the stan submodule are changed, on rebuilding make does not detect these changes and says there is nothing to do.

#### Description:

The discussion (and solution from @syclik) is here:

https://discourse.mc-stan.org/t/difficulty-modifying-stan-algorithms-with-cmdstan/10637

#### Current Output:
Make says there's nothing to do

#

[2019-09-01 08:57] rok-cesnovar opened #728 "Travis clang tests timing out due to infinite compile loop"
#### Summary:
Travis tests are failing since 2.20 for `clang`. It seems that clang gets stuck in an infinite loop of compiling the same files over and over again.

Looking at the the build history `https://travis-ci.org/stan-dev/cmdstan/builds` the first PR that did not pass the clang tests on Travis is  `https://github.com/stan-dev/cmdstan/pull/723`. I am not pointing to that PR as the culprit, I

[2019-09-16 13:40] rok-cesnovar commented on #532
Not an issue in 2.20. Closing.

[2019-09-16 13:40] #532 closed

[2019-09-16 13:42] rok-cesnovar commented on #590
Not an issue in 2.20. Closing.

[2019-09-16 13:42] #590 closed

[2019-09-16 13:43] rok-cesnovar commented on #583
This was fixed with a PR but never closed.

[2019-09-16 13:43] #583 closed

[2019-09-16 13:46] rok-cesnovar commented on #627
We have Windows testing set up on Jenkins for some time now. Closing.

[2019-09-16 13:46] #627 closed

[2019-09-16 13:50] rok-cesnovar commented on #516
This has been fixed sometime in between. Cmdstan outputs `Can't open specified file, "foo.data.R"`

[2019-09-16 13:50] #516 closed

[2019-09-16 14:37] rok-cesnovar commented on #48
Closing. The current output for this case is:

[code]

[2019-09-16 14:37] #48 closed

[2019-09-16 14:39] rok-cesnovar commented on #6
This has been fixed since. The current output with seed numbers that would produce overflow is
[code]

[2019-09-16 14:39] #6 closed

[2019-09-16 14:41] rok-cesnovar commented on #50
`bin/print` is deprecated so this issue is obsolete.

[2019-09-16 14:41] #50 closed

[2019-09-16 14:46] rok-cesnovar commented on #77
I am assuming the Jenkins tests for cmdstan solved this issue. If not, please reopen and elaborate.

[2019-09-16 14:46] #77 closed

[2019-09-16 14:50] rok-cesnovar commented on #348
Works in the manual for 2.20.

[2019-09-16 14:50] #348 closed

[2019-09-16 14:58] rok-cesnovar commented on #334
The "Running a CmdStan Program" section seems fine to me for 2.20.

[2019-09-16 14:58] #334 closed

[2019-09-16 15:03] rok-cesnovar commented on #534
This has been fixed since. Cmdstan works on windows 64-bit.

[2019-09-16 15:03] #534 closed

[2019-09-16 15:05] #537 closed

[2019-09-16 15:20] rok-cesnovar commented on #556
Windows instruction work for 2.20. There were some discussion of alternatives RTools as the recommended way of setting up the toolchain, but that is separate issue.

[2019-09-16 15:20] #556 closed

[2019-09-16 15:22] rok-cesnovar commented on #616
Done in 2.18.

[2019-09-16 15:22] #616 closed

[2019-09-16 15:24] rok-cesnovar commented on #602
Fixed in #604

[2019-09-16 15:24] #602 closed

[2019-09-16 15:26] rok-cesnovar commented on #560
Duplicate of #531

[2019-09-16 15:26] #560 closed

[2019-09-16 15:29] rok-cesnovar commented on #655
Cmdstan works on windows now.

[2019-09-16 15:29] #655 closed

[2019-09-16 17:19] #608 closed

[2019-09-16 17:20] #566 closed

[2019-09-16 17:21] rok-cesnovar commented on #577
Fixed with #593

[2019-09-16 17:21] #577 closed

[2019-09-16 17:24] rok-cesnovar commented on #612
I am closing this stale issue. There have been no reports of this issue from Mac users for the last 3 versions. If anyone else is experiencing this feel free to reopen.

[2019-09-16 17:24] #612 closed

[2019-09-16 18:18] #339 closed

[2019-09-16 18:36] #640 closed

[2019-09-16 18:41] rok-cesnovar commented on #646
This was fixed.

[2019-09-16 18:41] #646 closed

[2019-09-16 18:43] rok-cesnovar commented on #667
I am closing this stale issue. If anyone on a Mac is experiencing the same issue, please feel free to re-open.

[2019-09-16 18:43] #667 closed

[2019-09-16 18:54] rok-cesnovar commented on #674
I tried this with cygwin on Windows 10, 64-bit and it looked fine. Closing the stale issue, please re-open if it still doesnt work for you.

[2019-09-16 18:54] #674 closed

[2019-09-16 18:57] rok-cesnovar commented on #678
Fixed in #677

[2019-09-16 18:57] #678 closed

[2019-09-17 18:06] rok-cesnovar commented on #309
Closing as C++ stanc will be deprecated soon. Open a new issue on the stan-dev/stanc3 repository if this is still relevant.

[2019-09-17 18:06] #309 closed

[2019-09-17 18:10] rok-cesnovar commented on #548
This issue is still relevant.

@bob-carpenter at this point do we want to support "=" in the R data format or should we just fix the manual?

If we want to support it, I can make a separate PR to fix it. Otherwise I can fix the manual along with other minor manual open issues. Just need someone with more seniority on the project to chime in.

[2019-09-17 18:15] rok-cesnovar commented on #561
Closing the issue as this will be addressed in the interface roadmap. Any changes to the arguments will be handled in separate issues after the roadmap is approved.

[2019-09-17 18:15] #561 closed

[2019-09-17 18:28] rok-cesnovar commented on #622
Fixed in #623

[2019-09-17 18:28] #622 closed

[2019-09-17 18:35] rok-cesnovar commented on #559
This was fixed sometime in between.

Current output if stanc does not have permissions to write to a folder:

[code]

[2019-09-17 18:35] #559 closed

[2019-09-17 18:44] rok-cesnovar commented on #615
This was fixed somewhere on the way to 2.20. You now get what is written under expected output: "Divergence warning printed and continue to run.".

This issue sweep does make me appreciate clear and reproducible issues A LOT. So thanks for that.

[2019-09-17 18:44] #615 closed

[2019-09-17 18:54] seantalts commented on #548
my two cents would be to go ahead and fix it if it's not too hard, unless JSON is faster than rdump now in which case just remove it from the docs and deprecate the whole thing :P

[2019-09-17 19:01] rok-cesnovar commented on #548
RapidJSON will be faster definitely, I just need someone to review https://github.com/stan-dev/cmdstan/pull/726 and https://github.com/stan-dev/stan/pull/2803 so we can finally include it. Sorry for the shame less plug/beg for PR reviews :)

But will play around with a fix.

[2019-09-17 19:12] rok-cesnovar commented on #511
Is this still relevant? Is a converter from the cmdstan CSV output to R dump? My guess would be no.

[2019-09-17 19:40] rok-cesnovar commented on #633
Fixed in https://github.com/stan-dev/stan/pull/2635

[2019-09-17 19:40] #633 closed

[2019-09-17 19:44] #636 closed

[2019-09-17 19:44] #637 closed

[2019-09-17 19:45] seantalts commented on #728
@serban-nicusor-toptal whatever happened to the attempt to get CmdStan running the one-compiler-per-OS set of tests on Jenkins? Did that go in or is that tracked somewhere? Once that's in we can delete the Travis file entirely.

[2019-09-17 20:05] serban-nicusor-toptal commented on #728
Hey @seantalts, are we talking about this one ? https://github.com/stan-dev/cmdstan/pull/706

[2019-09-17 21:00] seantalts commented on #728
Yes, thank you!

So I think we can delete the Travis tests now as all relevant OS compiler
setups should be tested under Jenkins :)

On Tue, Sep 17, 2019 at 16:05 Nicusor Serban <notifications@github.com>
wrote:

[2019-09-17 21:20] bob-carpenter commented on #511
Something like this is needed for restarts, but I think that'd require a new command.

[2019-09-17 21:21] bob-carpenter commented on #548
I'm OK either way.  I don't think we use `=` anywhere and there's no hope of supporting the kind of arbitrary R code that R itself produces with `dump`.

[2019-09-18 10:30] rok-cesnovar commented on #728
Closed via #731

[2019-09-18 10:30] #728 closed

[2019-09-19 13:23] #548 closed

[2019-09-19 13:24] #531 closed

[2019-09-20 13:07] #719 closed

[2019-09-20 13:54] rok-cesnovar opened #736 "Make clang++ work on Windows"
#### Summary:

On Windows with `clang++` we get caught in an infinite loop of re-compiling the same files. I exhibited this on clang 9.0.0.

I am investigating it and will try to solve it if I can.

#### Description:

If `CXX=clang++` on Windows `make build` gets caught in an infinite loop of re-compiling all the files. So the same behavior we exhibited on Travis a while ago.

#### Reproducible St

[2019-09-20 20:33] bearloga commented on #736
I'm also getting this behavior on macOS 10.14, CmdStan 2.20 and clang-7

[2019-09-20 20:38] seantalts commented on #736
The infinite loop behavior also shows up when those calls fail in certain
ways. Try commenting out the dependency include from the main makefile and
rerunning make.

On Fri, Sep 20, 2019 at 16:33 Mikhail Popov <notifications@github.com>
wrote:

[2019-09-20 22:22] seantalts commented on #736
@syclik could this be related to the other issues we were seeing before? https://github.com/stan-dev/cmdstan/issues/668

@bearloga you can try the steps I took in the first post on that PR to see if you have an underlying issue you can fix. especially likely if you recently upgraded Mac OS X or anything like that.

[2019-09-24 07:05] syclik commented on #736
Yes, it's possible. I've never run this with clang++ on a Windows box. I'm not good with setup, but if someone can help me log into one, I can do some basic diagnostics and try to see what's causing it.

If I were debugging, I'd start from a clean build and actually clone the library twice.

In the first one, I'd run `make build` with g++ (or whatever works).

In the second one, I'd run `make buil

[2019-09-24 08:39] rok-cesnovar commented on #736
Thanks @syclik

I will try your suggestion. I have a Windows box that is currently not on a static IP (in the process of setting that up but university biroucracy is harder to me than integration :) ).

I can try setting up teamviewer or something in the meantime. But hopefully I can find a fix before that.

@serban-nicusor-toptal can maybe give you access to the AWS instance that is used for Jenk

[2019-09-24 09:25] serban-nicusor-toptal commented on #736
I am now spinning up a Windows instance. @rok-cesnovar Can you please send me a mail with @syclik in cc so I can forward the password?

Thanks!

[2019-09-24 09:59] rok-cesnovar commented on #736
Done. Thanks!

[2019-09-25 04:52] syclik commented on #736
Just reporting back... I haven't been able to log in yet; technical difficulties. We'll try again later.

[2019-09-26 18:53] #720 closed

[2019-09-27 10:44] mitzimorris commented on #711
closing this issue - leave name as is for now.

[2019-09-27 10:44] #711 closed

[2019-09-27 10:45] mitzimorris commented on #513
this has been implemented - CmdStan has method 'generate_quantities'  -
https://github.com/stan-dev/cmdstan/pull/672

[2019-09-27 10:45] #513 closed

[2019-09-27 10:51] mitzimorris commented on #510
this is still a problem as of stan 2.20.0

[2019-09-27 10:58] rok-cesnovar commented on #657
@mitzimorris is this issue still relevant? I am not completely sure if the intention here was to also move the cmdstan manual?

[2019-09-27 11:13] mitzimorris commented on #657
yes, this issue is still relevant.
the current manual needs to be changed to Rmd format in the docs repo.  once we have it in the docs repo,  we can remove it from CmdStan.

this one will take some work because of the fancy use of latex to display info - it needs to be checked for accuracy and could stand some copy-editing as well.

[2019-09-27 11:15] rok-cesnovar commented on #657
Thank you for the clarification. Makes sense to me now :)

[2019-09-28 10:24] rok-cesnovar commented on #736
I can confirm this actually never worked. At least not on 2.18+. I tried with Clang 7, 8 and 9.
We had other Windows issue before 2.18  so clang++ & Windows never actually worked.

We are recommending RTools and the compiler that comes with it for Windows so I guess its not a pressing issue. Anyways, will get back to this on some rainy day, but for now it goes on the back burner for me. I would le

[2019-09-28 10:41] rok-cesnovar commented on #736
Also Stan Math tests also dont run there with CXX=clang++ on Windows.

[2019-09-28 19:55] syclik commented on #736
Thanks for looking into that. I’m away from a computer for the next few
days. When I’m back, I can see if there are different compiler options we
use for the dependencies between clang++ and g++.

We may not have implemented that logic for Windows (or rather special-cased
windows so it works with RTools g++). I’ll try to check when I’m back at a
computer.

On Sat, Sep 28, 2019 at 6:41 AM Rok Češno

[2019-09-30 03:29] marivascruz opened #740 "OpenCL-GPU-Routines"
#### Summary:
Please provide a short couple sentence summary.
Hi -
I'm trying to use GPU routines described in https://github.com/stan-dev/math/wiki/OpenCL-GPU-Routines . However, that documentation specificies that
`Currently gp3_example branch of CmdStan has integrated OpenCL support.`
I was wondering if this has been updated in main stan-dev cmdstan?

#### Current Version:
v2.20.0

[2019-09-30 15:12] rok-cesnovar commented on #740
Hi @marivascruz,

that wiki needs a huge refresher, sorry about that. Things have changed substantially since then and are still changing on a daily basis.

The `gp3_example` was basically a branch to showcase our proposal we made a year ago for StanCon Helsinki. The things we promised are all on the develop branch of cmdstan/stan math + some more. Some are part of the 2.20 release, others will be

[2019-09-30 15:25] rok-cesnovar commented on #740
If you have any specific use cases where you would need GPU support, we are always accepting requests. GPs and GLMs were our primary use-cases for the initial GPU support releases, but we are now looking for others.

[2019-10-04 15:37] boegel commented on #625
I ran into the same issue using StanHeaders 2.19.0 while compiling thurstonianIRT with Intel compilers.

Is there any hope at all to get this resolved, or is using StanHeaders with Intel compilers basically a lost cause?

[2019-10-04 15:51] wds15 commented on #625
It's not totally lost, but I am probably the only developer with access to Intel compilers... and I am really not blessed with free time...

Why not just use g++?

(we should still keep track of this, don't get me wrong)

[2019-10-04 17:13] maedoc commented on #625
Looks like a [bug in ICC](https://stackoverflow.com/a/37216503). We gave up on ICC since GCC did a good job and time was better spent getting the model to behave better than getting the auto vectorizer to work.

[2019-10-07 07:19] wds15 commented on #709
@abdmoussa I am not sure what the issue is here... but so far we haven't supported TBB. This has changed since very recently. So you should be able to grab the latest develop cmdstan and a `make build` should give you a build Intel TBB library. Please open an issue if you have trouble.

Closing this issue which was addressed in PR #710

[2019-10-07 07:19] #709 closed

[2019-10-07 07:21] wds15 opened #741 "Initialise Intel TBB threadpool"
## Description
The new Intel TBB requires client code to initialise the threadpool, since otherwise the `STAN_NUM_THREADS` variable is not honoured

## Example

When running Stan programs with threading, the parallel `map_rect` should not use more threads than defined by `STAN_NUM_THREADS`.

## Expected Output
NA

#### Current Version:
v2.20.0

[2019-10-08 11:54] boegel commented on #625
@wds15 We install R with a large collection of R libraries from CRAN with both GCC and Intel compilers, since the Intel compilers often produce better performing binaries.

So far, that hasn't been an issue with any of the R libraries we include (other than trivial compilation errors with Intel compilers that are easy to fix with a trivial patch).

[2019-10-08 12:02] boegel commented on #625
@maedoc That sure looks very similar, but while I can reproduce the issue reported for the example given with Intel C++ compiler version 16.x, I can not reproduce it with more recent Intel C++ compiler versions (17.0.1 works fine, so does the 19.0.1 I'm using now).

[2019-10-08 12:33] boegel commented on #625
Some more info: it seems like this issue was reported to Intel a while ago already, also in the context of `stan`, see https://software.intel.com/en-us/forums/intel-c-compiler/topic/781749 .

[2019-10-09 01:56] seantalts opened #745 "`make stan-revert` shouldn't build dependency files"
#### Summary:
`make stan-revert` shouldn't build dependency files

#### Description:
You can see example output here: https://jenkins.mc-stan.org/blue/organizations/jenkins/CmdStan/detail/PR-737/14/pipeline/12

#### Reproducible Steps:
run `make stan-revert`

#### Current Version:
v2.20.0

[2019-10-09 07:08] syclik commented on #745
Yeah... I think to do this, we'll need to exclude the `stan-revert` target from kicking off any of the dependency files. I know that's not enough of a hint to implement, but I think that's what needs to happen.

[2019-10-10 08:19] rok-cesnovar commented on #565
This issue has since changed, as of switching to stanc3 the error when not recursively cloning is:

[code]
Which is less errors but still confusing to the user. Fix incoming in #738

[2019-10-10 12:42] #741 closed

[2019-10-10 15:41] mitzimorris opened #746 "vectorize sampling statement in example model `bernoulli.stan`"
#### Summary:
CmdStan is distributed with example model `bernoulli.stan`.
The current model is not vectorized - it should be changed
in order to reflect best practices.

#### Description:
current model block:

[code]

should be:

[code]

#### Current Version:
v2.20.0

[2019-10-10 17:23] #746 closed

[2019-10-10 18:57] rok-cesnovar opened #748 "Add the --use-opencl flag to stanc3 when STAN_OPENCL is set"
#### Summary:
Now that https://github.com/stan-dev/stanc3/pull/314 was merged, we want to add `--use-opencl` flag to stanc call whenever STAN_OPENCL is set.

#### Current Version:
v2.20.0

[2019-10-10 19:51] #748 closed

[2019-10-11 20:50] rok-cesnovar opened #751 "Windows tests fail due to failure in copying tbb.dll"
#### Summary:
This error occurs sometimes on the tests on cmdstan. I havent seen them occur downstream.

Its a result of a workaround we had to resort to due to Windows Jenkins Path configuration issues, which copies the dll if it isnt found in the path. This is not a problem for the users.
[code]
I am guessing its due to building with multiple threads and they all start copying but then all excep

[2019-10-11 21:27] wds15 commented on #751
We should check if the file is already in place before copying. That could solve it...or, even better, is to first build everything only, then copy the dll into all subfolders needed and finally execute the tests.

[2019-10-13 16:51] #751 closed

[2019-10-13 19:51] seantalts commented on #751
Can you just make a dependency on the dll in that dir and let make handle
it?

On Sun, Oct 13, 2019 at 12:51 wds15 <notifications@github.com> wrote:

[2019-10-13 20:03] wds15 commented on #751
That’s what I did...no?

[2019-10-13 20:59] seantalts commented on #751
I was suggesting making a target for `%/tbb.dll` with the recipe to print it out and copy it over. I have been having trouble figuring out how to have make add a dependency on an unrelated file in another directory, though.

[2019-10-13 21:40] seantalts commented on #751
I can't get it to work! I'm giving up for now, you can kind of see the idea here: https://github.com/stan-dev/cmdstan/compare/bug/issue-751-tbb-dep

[2019-10-14 05:15] wds15 commented on #751
I will have a look...but it’s difficult. We now have such a target for all of our test directories. For regular Stan files I am working with an if statement.

Maybe we can tweak makecmdgoals variable to do what we want?

[2019-10-14 07:54] wds15 opened #754 "targets get rebuild even if unchanged"
#### Summary:

Make right now rebuilds stan models even if unchanged. So

[code]

Will compile the model 2 times.

#### Description:
clean targets should not be rebuild

#### Reproducible Steps:
see above

#### Current Output:
The current output. Knowing what is the current behavior is useful.

#### Expected Output:
Describe what you expect the output to be. Knowing the correct behavior is also ve

[2019-10-14 07:58] wds15 opened #755 "check stanc md5sum against fixed+released string"
#### Summary:
Since we are now downloading **binary** files to the user machine we should really ensure that what we downloaded is the right thing. This is in order to protect against man-in-the-middle attacks.

At the very least the md5sums of the stanc compiler should be documented somewhere.

#### Description:
We should store in the cmdstan repository the expected md5 hashes of the stanc binari

[2019-10-14 12:59] seantalts commented on #755
We're downloading over `https` so the only man-in-the-middle attacks that are possible are those when someone else controls your local certificate store; i.e. in a large corporation that hijacks https like the one I used to work for, or possibly folks in China. In other words, I don't think this is a real attack vector unless I'm thinking about it wrong. I used to do research in computer security

[2019-10-14 13:11] seantalts commented on #751
Haha, that might work. Anyway, sorry for butting in here, just thought this seemed like an "obvious" way to do it but then I tried it and it was pretty hairy and I couldn't get it to work. So feel free to ignore me, haha.

[2019-10-14 14:12] wds15 commented on #751
I will try my advancing make fu knowledge once more (nothing I ever wanted to learn)

[2019-10-14 17:04] wds15 commented on #751
@seantalts How about this:

https://github.com/stan-dev/cmdstan/compare/bugfix/make-tbb-windows-3

Just click on the changes link from github.

This seems to work at the price of creating a tbb-lib file in addition (to avoid a circular dependency).

[2019-10-15 13:34] wds15 commented on #754
maybe this report is only valid for the Bernoulli example... which would mean we do not need to investigate further.. pending verification.

[2019-10-15 15:28] rok-cesnovar commented on #754
Where did you experience this? Windows? Mac? I am unable to reproduce this on Ubuntu with g++ or clang

[2019-10-15 15:32] wds15 commented on #754
I saw constant rebuilds under MacOS for the bernoulli example...but for other models everything is just fine. So maybe we can just close this?

[2019-10-15 15:38] #754 closed

[2019-10-18 07:42] rok-cesnovar opened #757 "Add make/local as a dependency of the pre-compiled header file"
#### Summary:
If you run `make build` without `CXXFLAGS += -DSTAN_THREADS` and then build your model with `CXXFLAGS += -DSTAN_THREADS` you get the following message

[code]

A similar issue arises vice-versa, if make build is done with the flag and the model is built without it. I know this issue eill go away once threading is the norm which hopefully comes sooner rather than later.

Can we someho

[2019-10-18 08:30] wds15 commented on #757
Well...if you change the compiler settings then its no surprise that things break due to the pre-compiled stuff which is not any more aligned.

Maybe one can declare the `make/local` file as a dependency of the pre-compiled header file (and all other files which need recompilation) such that changing `make/local` will trigger a rebuild of the pre-compiled header? If that works, then make will auto

[2019-10-18 08:39] rok-cesnovar commented on #757
Completely agree. Not saying this should not happen. Just asking if we can do something about it.

That is a great idea. Will try my luck.

[2019-10-19 12:54] mitzimorris opened #759 "stansummary hangs on very large input files"
#### Summary:

investigate behavoir of `stansummary` - code defensively for CmdStanPy -

#### Description:
mentioned in CmdStanPy issue #88 - https://github.com/stan-dev/cmdstanpy/issues/88#issuecomment-543923076

#### Reproducible Steps:
Please report steps to reproduce the issue. If it's not possible to reproduce, please include a description of how you discovered the issue.

If you have a repro

[2019-10-20 10:05] rok-cesnovar opened #760 "Print more information when using threads or OpenCL"
#### Summary:

Currently the user doesnt get any sort of feedback if the model is actually using threads and if it is how many. Same goes for OpenCL. It would be nice to print out the name of the device at least.

Something like:
"Stan threads are enabled. The model is using 8 threads for parallel execution."
"OpenCL execution is enabled. The model is using NVIDIA Titan XP".

#### Current Version:

[2019-10-20 10:07] rok-cesnovar opened #761 "Simplify STAN_THREADS in make/local"
#### Summary:
Currently users need to set `CXXFLAGS += -DSTAN_THREADS` in make/local in order to enable threading. This should be simplified to how we handle STAN_OPENCL, so simply adding

`STAN_THREADS = true`

would do the job.

#### Current Version:
v2.21.0

[2019-10-20 10:47] rok-cesnovar opened #762 "Add a convenience make target for setting number of threads"
#### Summary:

Add a convenience make target (for example `make set_num_threads 8`) to simplify setting the number of threads used in a model.

`make set_num_threads 8` would set the environment variable STAN_NUM_THREADS to 8. This would be a convenience to the users, especially on Windows where setting environment variables is annoying.

#### Current Version:
v2.21.0

[2019-10-20 10:48] rok-cesnovar commented on #740
Closing the stale issue. If you have any other questions please reopen.

[2019-10-20 10:48] #740 closed

[2019-10-24 14:23] bbbales2 opened #763 "Makefile not respecting changes in model file if .hpp file missing"
#### Summary:

The makefile is not working properly.

#### Description

If I:
1. Build a model (the example bernoulli works here)
2. Change that model and introduce a syntax error
3. Try to rebuild that model (and see the error)
4. Fix the error in the model such that the model is different from how it was in step 1
5. and try to rebuild the model

Then the makefile tells me there's nothing to do

[2019-10-24 14:24] bbbales2 commented on #763
Also cause it's probably important cause it's a make issue, Ubuntu 18.04, make version 4.1, gcc 7.4.0. I think clang has been a jerk on this computer for me so I haven't used it.

[2019-10-24 14:29] seantalts commented on #763
I've seen something like this too on Mac - I think it had do with the new `.o` files introduced with the new way of building models. Possibly some of those intermediate files are marked as expensive or something and not being deleted.

[2019-10-24 19:57] rok-cesnovar commented on #763
The model.o should actually be deleted everytime a model is build succesfully. Then everything behaves as normal.

[2019-10-24 19:58] rok-cesnovar commented on #763
There is no reason to have it anyway. I think.

[2019-10-24 21:35] bbbales2 commented on #763
@mitzimorris said she'd have a look at this!

[2019-10-26 17:44] bbbales2 opened #765 "Makefile not rebuilding binary if stuff in stan submodule changes"
#### Summary:

Makefile isn't respecting changes to stan source when rebuilding models

If I:
1. Build examples/bernoulli/bernoulli
2. Change stan/src/stan/mcmc/covar_adaptation.hpp (a file in the Stan submodule)
3. Running make on examples/bernoulli/bernoulli says the binary is up to date (it should rebuild)

Something like this happened before: https://github.com/stan-dev/cmdstan/issues/638, tho

[2019-10-31 15:25] #760 closed

[2019-10-31 15:48] mitzimorris commented on #763
the new way of building models introduced in 2.20 messed with the way that make's implicit rules work - the '.d' dependency files are no longer being built.
issue #765 is also a result of that problem.
there is a bugfix branch:
https://github.com/stan-dev/cmdstan/tree/bugfix/763-765-makefiles

but this version fails to rebuild main.o when changes are made to the sampler.  still investigating, but

[2019-10-31 16:28] rok-cesnovar commented on #763
Will have a look.

[2019-10-31 16:54] #565 closed

[2019-11-01 13:18] helske opened #767 "Getting bunch of compiler errors when trying to run bernoulli example"
#### Summary:
Freshly installed CmdStan, trying to run the Bernoulli example, but the compilation of the model fails with lot's of error messages.

#### Description:

Running on computer cluster with CentOS Linux 7, compilation of Stan programs with `rstan` work fine, but I now tried `cmdstanr` and got errors, so decided to try directly with `cmdstan`. Tried both with the cmdstan installed by `cmd

[2019-11-01 13:29] bbbales2 commented on #767
This looks like a compiler version thing. Can you check gcc -v?

Maybe R is installed on the cluster with a different compiler.

[2019-11-01 13:30] bbbales2 commented on #767
(The oldest compiler Stan is regularly tested on is gcc 4.9.3: https://github.com/stan-dev/stan/wiki/Supported-C---Compilers-and-Language-Features)

[2019-11-01 13:37] mitzimorris commented on #767
what Ben B says - please check gcc version.
this FAQ suggests that Centos 7 is gcc 4.8 - https://www.cyberciti.biz/faq/centos-rhel-7-redhat-linux-install-gcc-compiler-development-tools/

[2019-11-01 13:38] helske commented on #767
Yeah, should have guessed it is (once again) compiler issue:
[code]
Interestingly compiling via rstan works fine?

[2019-11-01 13:39] mitzimorris commented on #727
this is a duplicate of

[2019-11-01 13:40] mitzimorris commented on #765
isn't this a duplicate of #727?

[2019-11-01 13:47] bbbales2 commented on #765
Oh good point it is. Thanks. I'll close this.

[2019-11-01 13:47] #765 closed

[2019-11-01 13:48] bbbales2 commented on #767
It seems likely R is using a different compiler. If you can figure out which one that is, you can try to point cmdstan at it.

[2019-11-01 14:24] mitzimorris commented on #767
in CmdStanPy there's a utility https://github.com/stan-dev/cmdstanpy/blob/master/cmdstanpy/install_cxx_toolchain.py
which, sadly, doesn't have anything implemented for linux.
should we add the shell script equivalent of this to CmdStan?
opinions from @bbbales2, @jgabry, @ahartikainen, @rok-cesnovar ?

[2019-11-01 14:58] helske commented on #767
Sadly I don't have permissions to install new compiler, and I just realised that I asked the admin to install new version a year ago. And I though he did, as `rstan` etc works fine. But, I can't actually find newer compiler version anywhere on the system, checking the `Sys.getenv("PATH")` and `R CMD config CXX` both point to system default compiler i.e. the old one...

Anyway, this isn't really ab

[2019-11-01 15:07] #767 closed

[2019-11-01 15:09] bbbales2 commented on #767
You might try installing an old cmdstan: https://github.com/stan-dev/cmdstan/releases . Rstan is probably using the 2.19 stuff. 2.17 was a good vintage I think.

Good luck!

[2019-11-02 20:10] ryan-richt commented on #657
Hello! Is the compiled version of the docs a la cmdstan-guide-version.pdf intended to be available on the website anymore? It doesn't seem to be referenced any longer on either https://mc-stan.org/users/documentation/ or https://mc-stan.org/users/interfaces/cmdstan.html
Though it does exist here: https://github.com/stan-dev/cmdstan/releases/tag/v2.21.0

[2019-11-02 20:38] mitzimorris commented on #657
yes, it is intended to be available - thanks for pointing this out - I'll fix the docs pages accordingly.

[2019-11-11 19:05] bbbales2 commented on #727
Fixed by #769

[2019-11-11 19:05] #727 closed

[2019-11-11 19:38] #763 closed

[2019-11-21 15:26] idontgetoutmuch opened #770 "cmdstan fails to build"
#### Summary:

clang++ -std=c++1y -Wno-unknown-warning-option -Wno-tautological-compare -Wno-sign-compare -D_REENTRANT      -I stan/lib/stan_math/lib/tbb_2019_U8/include -O3 -I src -I stan/src -I lib/rapidjson_1.1.0/ -I stan/lib/stan_math/ -I stan/lib/stan_math/lib/eigen_3.3.3 -I stan/lib/stan_math/lib/boost_1.69.0 -I stan/lib/stan_math/lib/sundials_4.1.0/include    -DBOOST_DISABLE_ASSERTS      -c

[2019-11-21 15:40] seantalts commented on #770
Just to double check, is this on 2.21.0 or `develop` branch?

[2019-11-21 15:57] idontgetoutmuch commented on #770
https://github.com/stan-dev/cmdstan/releases/download/v2.21.0/cmdstan-2.21.0.tar.gz

but there's no urgency - the problem I am investigating is why pystan and rstan give different results for the same .stan file with the same seed - they both seem to be using 2.19.1 and I have just built cmdstan 2.19.1 successfully and will continue my investigations with that. I am assuming that cmdstan gives the

[2019-11-21 16:25] idontgetoutmuch opened #771 "make examples/bernoulli/bernoulli fails"
#### Summary:
[code]

#### Current Version:

[code]

[2019-11-21 16:34] wds15 commented on #771
make -n 4 the/model/you/want/tocompile

[2019-11-21 16:39] wds15 commented on #770
What OS is this?

You have issues with `_REENTRANT` which is odd as we tested this on all of our platforms we support.

You could start to define `__MINGW32__` manually which tells the code to use code which is always available on all platforms.

[2019-11-21 16:40] idontgetoutmuch commented on #771
???

[code]

[2019-11-21 16:44] seantalts commented on #771
I think you might mean “-j4”

On Thu, Nov 21, 2019 at 11:40 idontgetoutmuch <notifications@github.com>
wrote:

[2019-11-21 16:55] idontgetoutmuch commented on #770
[code]

[2019-11-21 17:46] idontgetoutmuch commented on #770
This may be an extra data point

[code]

[2019-11-21 18:09] mitzimorris commented on #771
yes `-n` is the same as --dry-run.

perhaps make is not finding the right makefile?
try this:

[code]

output on my machine:

[code]

[2019-11-22 10:48] idontgetoutmuch commented on #771
Thanks for the quick responses :) - I don't know why but it is now working. It might have been that I was trying to use a different C++ compiler or that the submodules hadn't populated when I thought they had - this seemed to do the trick

[code]

[2019-11-22 10:48] #771 closed

[2019-11-22 16:05] mitzimorris commented on #770
was this addressed by updating the submodules?

[2019-11-22 16:12] mitzimorris opened #772 "add make target `clean-program` to makefiles"
#### Summary:
when building a stan exe from the stan program file, make creates intermediate files.
add a make command to removes both the exe and all intermediate files.

#### Description:
Example - compile CmdStan's example file `bernoulli.stan` - note resulting intermediate files:

[code]

command `make clean-program examples/bernoulli/bernoulli`  should remove exe, .d, .hpp, and .o files.

###

[2019-11-22 16:34] syclik commented on #772
@mitzimorris, sorry, but that's not going to work with `make`. The space is a delimiter and will result in two targets being passed to `make`: 1) `clean-program` and 2) `examples/bernoulli/bernoulli`. The second target will just try to build it.

One way to deal with something like this is to use a pattern target, so something like `make clean-examples/bernoulli/bernoulli`. That can be matched, th

[2019-11-22 16:34] syclik commented on #772
Btw, that's just a technical limitation with `make`. If you find a way to work around it, please let me know! I haven't seen any way to manipulate the targets passed in well enough to handle arguments to make targets.

[2019-11-22 16:39] mitzimorris commented on #772
sure, `make clean-<path/to/exe>` would be fine.

the issue is being able to have a simple way to do cleanups after build - `make clean-all` is not fine-grained enough.

[2019-11-23 10:54] wds15 commented on #770
if you put into your make/local

CXXFLAGS+=-D__MINGW32__

then it should work. Can you please try?

What is nixpkg? Darwin 17 is Mojave or Catalina?

[2019-11-25 14:06] wesbarnett commented on #772
What if the name/path of the compile binary is passed as an argument?

[code]

Then you could just run:

[code]

[2019-11-25 14:45] wesbarnett commented on #772
Here's a way to check if the passed argument is set. Might be safer to pass the name of the stanfile and then pattern match from that. Perhaps there is a better convention though. Here's an example:

[code]

[2019-11-25 21:46] tare opened #774 "Makefile should allow pathnames where directory names contain unix shell special characters"
#### Summary:
Compilation of a Stan program fails when the path of the executable contains round brackets.

#### Description:
The path of the executable is not escaped properly.

#### Reproducible Steps:
[code]

#### Current Output:
[code]

#### Expected Output:
[code]

#### Additional Information:
The issue can be fixed by putting double quotation marks around file names in `make/program`
[code]

[2019-11-26 20:02] bbbales2 opened #775 "Currently no way to specify 0x0 arguments in JSON format"
#### Summary:

[code]

is a valid Stan data block, but currently there is no way to provide this input in JSON. See: https://github.com/stan-dev/cmdstanr/issues/96

#### Description:

This is a full Stan model that can be initialized with the rdump format but not JSON:

[code]

#### Current Version:
v2.21.0

[2019-11-26 20:29] maedoc opened #776 "Line ending confusion"
#### Summary:
Stan compiler is confused by line endings.

#### Description:
When compiling a model on Linux with Windows line endings (CRLF) the reported line numbers of errors is wrong.

#### Reproducible Steps:
Run a Docker image with Stan setup, compile bad Stan file, compare reported line numbers with actual error.  Change line endings to Unix style and recompile for correct error line numbers

[2019-11-26 20:31] maedoc commented on #776
btw, I'm not fuzzing cmdstan or anything, but using it in a Docker container on Windows, which is why I ran into this

[2019-11-26 21:29] seantalts commented on #776
Can you try with develop? That should use stanc3, where we may or may not
have the same issue.

On Tue, Nov 26, 2019 at 15:31 marmaduke woodman <notifications@github.com>
wrote:

[2019-11-26 21:40] #772 closed

[2019-11-27 04:45] mitzimorris commented on #774
the above fix only fixes on rule - this requires fixing the compile, link rule as well.
I created a directory called '(test)' and populated it with files `bernoulli.stan`, `bernoulli.hpp`, and `bernoulli.d` and tried to make the program:

[code]

[2019-11-27 04:49] mitzimorris commented on #774
changed the title to reflect the general nature of the problem.

[2019-11-27 13:16] tare commented on #774
Thanks Mitzi! I thought I had modified the compile and link rules too.

[2019-11-27 15:10] wds15 commented on #774
In all honesty, I am not sure if we should support this. The crux is that I have seen "make" itself making substitution which break correct quotation. I would not start with regexes on paths, but rather check if we have occasionally left out some quotations which fix the problem. Anything else is a nightmare to write with make.

[2019-11-27 16:30] mitzimorris commented on #774
I agree.   Marking this issue as "wontfix".

[2019-11-27 16:34] #774 closed

[2019-11-28 05:21] #761 closed

[2019-12-04 16:13] mcol opened #777 "hardcoded path inside test-all.sh"
#### Summary:
`test.all.sh` terminates with the following message:
[code]

#### Description:
The `test-all.sh` script contains a section that tries to access the `stan/lib/stan_math_2.15.0/` directory for running unit and distribution tests. This directory doesn't exist, the path should be `stan/lib/stan_math` for the tests to run correctly.

To be honest I don't understand why unit/distribution t

[2019-12-04 16:18] mcol commented on #777
This path was missed when @seantalts removed most of the hardcoding in 0c84203da7b2cdfd2992f468a34f53088d1f460e. If nobody noticed in over 2.5 years, then probably it's not really helpful! :)

[2019-12-07 20:12] #777 closed

[2019-12-09 00:59] hugbubby opened #779 "No supported way to build static binaries"
#### Summary:
I am accessing my stan program from inside a docker container and would like the ability to compile it as a standalone binary, rather than having to include the associated libraries wherever it goes.

#### Description:
I am currently using cmdstan inside a docker container in a production environment. One of the problems I have is that when I build my cmdstan binaries and move them,

[2019-12-09 02:34] mitzimorris commented on #779
Not quite understanding what you mean by a "standalone binary".
E.g. - you can compile file `examples/bernoulli/bernoulli.stan` via command:
[code]
the resutling binary is a standalone program that you can copy or move as you wish.

[2019-12-09 05:43] wds15 commented on #779
Currently you have to link dynamically the Intel tbb to get a Stan program to work. As I understand you want to move a compiled Stan model into docker. The tbb is linked by default using rpath which hardcodes the tbb link path. You should be able to link the tbb yourself which can the place where you like. Does that make sense? It would be helpful if you provide a git repo with the Dockerfiles and

[2019-12-10 10:48] wds15 commented on #779
For the purpose of this issue...we can close it, i think. There is no supported way to end up with a static binary. The only action one could take is to review the doc for having a running stan exectuable model with the minimal set of binaries which means to install the tbb.

@mitzimorris thoughts?

[2019-12-10 13:13] mitzimorris commented on #779
is it possible to use the math lib v 2.20 which doesn't include the Intel TBB?

[2019-12-10 13:20] mitzimorris commented on #779
I think that @hugbubby has a valid use case here and I think that we need to find a way to address this, so no, I don't think we should close this issue.

[2019-12-10 13:31] seantalts commented on #779
@hugbubby were you asking to deploy a single compiled model inside the
docker container? Or the entirety of cmdstan with its ability to compile
new models?

On Tue, Dec 10, 2019 at 08:20 Mitzi Morris <notifications@github.com> wrote:

[2019-12-10 18:48] mitzimorris commented on #775
https://github.com/stan-dev/cmdstanr/issues/96

continuing discussion from CmdStanR issue - the suggestion is to accept dim(0) when expecting dim(0,0), dim(0,0,0), etc.

there was concern about this causing things to break; this seems unwarrented, because we're just allowing JSON inputs which are the equivalent of what you can do in Rdump.

[2019-12-11 23:30] bbbales2 commented on #775
Could we also solve this by including dimensions explicitly in the JSON format, like instead of:

[code]

Do:

[code]

That way:
[code]

Is like a valid empty structure with shape?

[2019-12-12 00:41] bob-carpenter commented on #775
Yes, we could define our own JSON format and routines to read and write that format and to convert from built-in formats.  A small hack to solve the size zero issue seems simpler.

[2019-12-13 07:32] hugbubby commented on #779
@wds15 Yes ,there is no supported way, which is why I am asking for a way.

@seantalts A single compiled model. I personally have no need to compile more models in my docker container, though I see why you might want to do that; I'm using the one I've created to do inference in a production environment, and don't want to have to lug around the whole git repo.

[2019-12-13 08:53] maedoc commented on #511
a few use cases I've wanted this for

- restarts e.g. when model takes longer than walltime limit on a cluster,
- simulating data and then fitting a model to its data,
- multiple model workflow
- intializing HMC from an optimization

I usually end up with a mess of grep, cut, tr, nl in bash for what is a pretty simple job.  Two main modes would be

- take 1 line of sampling CSV, convert to R/json

[2019-12-13 09:20] rok-cesnovar commented on #511
Once https://github.com/stan-dev/cmdstanr/pull/95 is merged to cmdstanr, you will be able to read the samples and all sampler parameters (diviergent, leapfrog, etc.. ) with `read_sample_csv(filenames)` in R. It outputs the following list:

[code]
I think this is close to what you are looking for. If you feel more at home with Python then try check_sampler_csv from cmdstanpy. I think it does someth

[2019-12-13 09:22] rok-cesnovar commented on #511
Input in JSON has been a part of Cmdstan for quite some time, we just made the input a bit faster for the last release. The ouput is still csv only however.

[2019-12-13 09:39] maedoc commented on #511
I'm aware of the R/Py interfaces to CmdStan as well, but was hoping to stick with a plain Bash/Makefile setup but I think for complex workflows that's just not realistic. Munging data formats on the command line is precarious esp for matrix/array datatypes.

[2019-12-13 10:32] wds15 commented on #779
@hugbubby Well, you can use 2.20 if you want all static model binaries. With 2.21 and going forward there is no supported way for a fully static model binary. You will always have to link dynamically with the Intel TBB.

So what you can do is:
- configure a TBB build by yourself (or you could just take the Intel binaries if these work for you)
- setup cmdstan to use your provided TBB
- then compil

[2019-12-13 15:08] bob-carpenter commented on #511
In case it wasn't clear to our devs not involved in CmdStanPy, the original version was derived from Marmaduke's PyCmdStan package.

[2019-12-13 15:32] rok-cesnovar commented on #511
Oh haha :) Now I feel like a fool.

[2019-12-13 15:51] bob-carpenter commented on #511
Don't feel bad---it's a big project with too much going on for any one person to follow.  I'm just trying to close the loops where I see an opportunity.

[2019-12-13 22:47] hugbubby commented on #779
It works for a certain definition of work; why is there an insistence on demanding the binary be dynamically compiled? I can actually build a statically compiled binary by modifying the internal makefiles; I just created this issue because I'd like to see a configuration option in the local makefile to do this automatically.

[2019-12-14 05:54] wds15 commented on #779
The Intel TBB strongly discourages to be used as static library. They don’t even document how one can link statically against it. This is why we do not support it. I think we can close the issue. I am absolutely against going with static linking against the tbb given that is so much discouraged. That’s not my call.

I also don’t ses any issue with what I suggest. You endup getting a docker contain

[2019-12-14 18:52] mitzimorris commented on #779
would it be possible to use an Intel docker container that supports TBB?
https://docs.nersc.gov/programming/shifter/intel/

[2019-12-18 14:01] mcol opened #781 "clean up uses of Eigen vectors of strings"
#### Summary:
Eigen vectors of strings should be replaced by `std::vector<std::string>`.

#### Description:
There are a few uses of `Eigen::Matrix<std::string, Eigen::Dynamic, 1>` in
- `print.cpp`
- `stansummary.cpp`
- `stansummary_helper.hpp`.

This usage is unconventional and should be replaced with `std::vector<std::string>`.

#### Expected Output:
There should be no changes in output, this is

[2019-12-21 16:53] mitzimorris commented on #775
small hack requires changing stan::io::var_context class in module stan - opening issue there.

[2019-12-22 00:24] mitzimorris opened #784 "cmdstan cannot run unit tests"
#### Summary:
the current develop branch of CmdStan fails to run unit tests - compiler error is:

[code]

#### Description:

CmdStan builds models and they run; however something is screwed up with the unit tests.

#### Reproducible Steps:

commands history:

[code]

#### Current Output:
see above

#### Expected Output:
unit tests should run!

#### Additional Information:
Provide any additional in

[2019-12-22 00:27] mitzimorris commented on #784
@rok-cesnovar  and/or @serban-nicusor-toptal  - how did this pass CI tests?

I have a bugfix branch for issue #775 - would like to get this in because then CmdStanR can use JSON.  bugfix does the right thing on a test model and test data - found this problem when trying to add proper unit test as well.

[2019-12-22 00:54] mitzimorris commented on #784
looks like a makefile problem - most likely logic in runCmdStanTests.py - investigating

[2019-12-22 01:27] serban-nicusor-toptal commented on #784
Hey, CmdStan is running only interface tests through Jenkins (develop branch) [src/test/interface](https://github.com/stan-dev/cmdstan/blob/develop/Jenkinsfile#L13)
Steps overview [here](https://jenkins.mc-stan.org/blue/organizations/jenkins/CmdStan/detail/develop/497/pipeline/41)
I didn't approve any PR that modified Jenkins so there shouldn't be any change to break this.
Let me know if there is

[2019-12-22 01:35] mitzimorris commented on #784
thanks @serban-nicusor-toptal - the logs look good.  what's happening locally is that
`runCmdStanTests.py` tries to build the test models via makefile target `make test-models-exe`,  which is defined in `cmdstan/make/tests` - on my machine, this target doesn't do the right thing -

[code]

[2019-12-22 01:37] mitzimorris commented on #784
I think the fix is to rewrite this target - there's a similar rule in `stan/make/tests` - investigating now.

[2019-12-22 16:23] #781 closed

[2019-12-22 16:29] mcol commented on #784
I think I saw the same but thought it was something in my setup. Notice how it doesn't seem to pick up `CXX`, but reverts to `cc`, which is just a C compiler.

[2019-12-22 17:07] rok-cesnovar commented on #784
The same for me. I dont run Cmdstan src/test usually. When I did the rapidjson PRs I only ran the interface tests and those worked. I can look at this tomorrow to help out if still needed.

[2019-12-22 17:40] mitzimorris commented on #784
about to submit a PR for this one - review would be much appreciated.

[2019-12-22 17:43] rok-cesnovar commented on #784
Sure, tag me for review.

[2019-12-22 18:04] mitzimorris commented on #784
done!  https://github.com/stan-dev/cmdstan/pull/785

[2019-12-23 08:34] #784 closed

[2019-12-23 08:38] rok-cesnovar opened #786 "Cleanup build warnings on Windows"
#### Description and reproducible steps:

On `mingw32-make build` on Windows you see the warnings shown below. The build continues as normal but those should be cleaned up. I imagine they are confusing to the users.

Example:
[code]

#### Expected Output:

No such warnings

#### Current Version:
v2.21.0

[2019-12-23 23:50] hugbubby commented on #779
I made the decision to use Clear Linux docker containers for their speed and explicit support of TBB. This situation is not without difficulty; I now have to wait for heroku to build the stan binary from scratch every time a new version of the service is pushed, but doing a clean from-ground-zero build also retains its upsides from a consistency perspective.

[2019-12-23 23:51] #779 closed

[2019-12-24 08:44] #775 closed

[2019-12-25 20:45] bob-carpenter commented on #779
Thanks for reporting back on your resolution of this and for closing the issue.  This issue will probably come up for others who want to fully encapsulate the Stan environment.

[2019-12-26 13:26] rok-cesnovar opened #789 "Add JSON output"
#### Description:

We should add a JSON output option. There wont be much performance gains on the cmdstan side (I think) but the cmdstanr and cmdstanpy interface would benefit here. With RapidJSON already included we could do this fairly straightforward.

The larger problem is that most of the writer classes are in the Stan repository and RapidJSON is included in Cmdstan. The easiest solution wou

[2019-12-26 18:35] mitzimorris commented on #789
how about starting a design doc for this?

the problem I see here is that this format would require buffering all samples in memory during sampling and warmup in order to be able to output the above format.
the CSV format is convenient in that each iteration results it a row's worth of values streamed via the model's "write_array" function.  in other words, the sampler produces a row's worth of CS

[2019-12-26 18:37] mitzimorris commented on #789
@rok-cesnovar - very much support working on this initiative - I'd like to generalize it to proto-bufs as well.

[2019-12-26 18:41] bob-carpenter commented on #789
+1.  We absolutely need to stream output by iteration if we want to be at all efficient.  Storing columns internally will also lead to a lot memory locality issues with lots of parameters.  It's better to store it all and then transpose it once using a good blocked transpose algorithm than it is to try to build up column-major data from row-level streamed input.

Also, decisions are going to have

[2019-12-27 17:35] rok-cesnovar commented on #789
Ah yes, silly me, going by iteration makes much more sense.

Will make a design doc. I would prefer handling JSON first and separate as I think this has a chance of making it in the next release. Once that is approved we can move from there.

I am not completely sure what the issue is with encoding. For JSON, the default encoding is UTF-8 which is supported in litejson and rjson that are the top R

[2019-12-27 17:52] bob-carpenter commented on #789
Thanks.  I think it's NaN and infinity encodings that varies between the standard R and Python libs for JSON.  I'm also not sure what happens with denormalized numbers, which we've had problems with before in practice.

[2019-12-27 17:54] rok-cesnovar commented on #786
This is caused by non-compatibility with the windows find command. To avoid this users on windows can add the gnu find that comes with Rtools.

In order to fix this we need to make a make subroutine for finding files that uses find on unix and `dir /b /a-d /s pattern` on windows. Maybe a recursive $(wildcard) workaround would also work.

[2019-12-27 18:14] rok-cesnovar commented on #789
Ah yes, will make sure to mention those in the design doc and see what happens wrt to the built-in and most popular Python/R packages.

[2019-12-28 13:14] mitzimorris commented on #789
see comments in this issue w/r/t NaN etc in R and Python libs:  https://github.com/stan-dev/stan/issues/2686

[2019-12-28 13:16] mitzimorris commented on #786
are you assuming that users on windows have Rtools?

[2019-12-28 14:23] rok-cesnovar commented on #786
They probaby either have RTools or use msys2 that also ships with its own gnu find. I would still rather see this fixed without relying on the gnu find. Will hopefuly find some non-hacky solution soon. The recursive call of wildcard that is mostly suggested on stack overfow looks to be rather slow.

[2019-12-30 20:01] rok-cesnovar commented on #786
I opened the first PR to address this issue in Stan Math. Once that is merged we can move to Stan and finally Cmdstan.

[2020-01-08 10:23] wds15 opened #791 "ease use of cmdstan makefiles"
#### Summary:
This aims to simplify how users can use cmdstan with its makefiles.

#### Description:
Currently users have to change into the directory of cmdstan in order to build any Stan program like

[code]

It would be much nicer if the user would not have to change into the directory of cmdstan, but can merely do this in any directory:

[code]

This currently does not work as the makefiles ex

[2020-01-09 20:30] syclik commented on #791
This doesn’t work if there are spaces in paths. This is a technical
limitation that’s introduced by make: I haven’t found a way to escape the
target if there’s a space.

If you have a workaround, it’d be great to know about it!

On Wed, Jan 8, 2020 at 5:23 AM wds15 <notifications@github.com> wrote:

[2020-01-09 20:45] wds15 commented on #791
but it will work without spaces. I don't see it as a necessary requirement to have this functionality working with spaces (but we should mention that with spaces it breaks, sure).

[2020-01-09 21:28] mitzimorris commented on #791
agree with Daniel - it needs to work for all legal filepaths on *nix, Mac, and Windows.

[2020-01-09 21:56] wds15 commented on #791
That's not what @syclik said to my understanding.

I think we should make it work as described above for cases where no spaces are involved. We can still give as default in our manuals the instruction to cd into the cmdstan dir. Only those user who do not use spaces in their paths have an additional and very comfortable option.

Other wise we can cose the issue.

[2020-01-09 22:15] bob-carpenter commented on #791
Is the issue with spaces in the directory in which cmdstan is installed or in the Stan program file?

What's the relation between cd-ing to the cmdstan directory and spaces?

Do our current makefiles work with spaces in cmdstan directory and/or in program files?

[2020-01-09 23:05] syclik commented on #791
The issue will be present if there are spaces in the path (including the
file name) of the Stan program.

I tried to do this once and I believe in order to implement this well, it
will introduce a problem where our current build will no longer work in
directories with spaces, but someone better at make might be able to figure
out a better solution using make.

I’d suggest building a separate bash

[2020-01-10 07:57] rok-cesnovar commented on #791
They do not.

But if the location of your cmdstan folder is `/home/user/folder withspaces/cmdstan` and you compile a model in a location without spaces, for example `make /home/user/test/model` will work. `make /home/user/test spaces/model` wont.

With this approach if you cd to /home/user/test/ and run `make -f /home/user/folder withspaces/cmdstan/make/somefile model` it wont work, because cmdsta

[2020-01-10 08:32] wds15 commented on #791
@syclik yeah, using bash stuff makes things easily work. So I have defined myself a bash function which is

[code]

which does its job just fine... it's just that this is a bash-only solution and if our makefiles would be a bit more robust, then an alias can be set which should work without requiring bash if I am not wrong.

[2020-01-10 12:12] #762 closed

[2020-01-10 13:28] syclik commented on #791
@wds15, that isn’t what I meant. I meant you could write a bash script that
calls make to return back the right compiler invocation, i.e. clang++ -I...

And then from the bash file call the compiler : linker directly. Once
everything in CmdStan is built, there should be only a few steps: calling
the stanc compiler to go from Stan to hpp, compiling the hpp properly using
the c++ compiler, and linki

[2020-01-10 13:51] wds15 commented on #791
Hmm...  I am not sure I follow along. I anyway just wanted to share what I have configured on our systems for me.

But this leads me to another way to approach this: We could add a `stanmake.sh` file to the `bin` directory of `cmdstan`. This can be generated on the fly from the makefiles during build. Then people can merely add to their `PATH` variable the `bin` sub-folder and everything will work

[2020-01-10 18:05] mitzimorris commented on #791
does this work with the git commands - `make stan-update`?

[2020-01-10 18:19] mitzimorris commented on #791
I agree with the suggestion that we write a script to compile models - I don't see how you can change the makefile, because there are a bunch of tasks that only make sense if you're in the top-level CmdStan directory - all of the `build` tasks, ditto developer tasks - maintaining existing tools, testing, etc.

[2020-01-10 19:06] wds15 commented on #791
This ticket here targets end-users who do a `make build` a single time. This can be expected to be done in the top-level directory. After having done that, it would be much nicer for users to not being forced to change for every Stan model they want to compile into the top-level dir of cmdstan. Compilation of Stan models should work just anywhere in file system.

So creating a `bin/stanmake.sh` wi

[2020-01-11 11:25] #789 closed

[2020-01-12 07:16] sean00002 commented on #718
I got a sligtly different problem here. When I try to run
`python runCmdStanTests.py src/test/interface/opencl_test.cpp`
`clang++ -DSTAN_OPENCL_CACHE=true -std=c++1y -Wno-unknown-warning-option -Wno-tautological-compare -Wno-sign-compare -D_REENTRANT    -I stan/lib/stan_math/lib/opencl_2.1.0  -I stan/lib/stan_math/lib/tbb_2019_U8/include -O3 -I src -I stan/src -I lib/rapidjson_1.1.0/ -I stan/lib/s

[2020-01-12 08:09] rok-cesnovar commented on #718
Hi, the test was broken on the 2.21 release. Please clone the develop version of cmdstan from the repository and try to run it. There is also a new release coming in a week if you prefer that.

[2020-01-12 09:35] sean00002 commented on #718
Thank you for your help! I just git clone the cmdstan from the GPU-based Parallel Computation Support for Stan paper. But I also have a question. Even through I am not using the GPU support functions like GLMs, any stan model I run should cause GPU activity? Since I am running one of my own model with GPU enabled, it gets slower than GPU disabled and there is no GPU usage by activity monitor.

[2020-01-12 22:35] SteveBronder commented on #718
Do you have `STAN_OPENCL=true` defined in make/local? It looks like that macro is not defined since no tests are running

[2020-01-12 22:47] nesanders commented on #718
Hi @SteveBronder,

Here is the text of my stan/lib/stan_math/make/local file in my clone of cmdstan:

I verified the device is ID=0 from `clifo`.

Is that the right location for it?

[2020-01-12 22:49] seantalts commented on #718
Put that in cmdstan/make/local instead :)

On Sun, Jan 12, 2020 at 17:47 Nathan Sanders <notifications@github.com>
wrote:

[2020-01-13 10:59] rok-cesnovar opened #793 "Revisit printing info on threads and OpenCL devices"
#### Description:

In #766 I added some output that would print information on threading and OpenCL.
Example for both:

[code]

In https://discourse.mc-stan.org/t/new-message-on-stan-threads/12596 @wds15 raised some fair question on this solution, mainly the following two:

While the fix for the latter one can be fixed during the feature freeze, which is currently ongoing, I am not sure we can fix

[2020-01-13 11:55] wds15 commented on #793
I would be fine with reverting and resorting this for the next release.

Let's hear from @mitzimorris who reviewed the PR letting the first thing in and maybe others have an opinion - @seantalts or @SteveBronder who commented on the earlier PR.

[2020-01-13 13:31] SteveBronder commented on #793
These all seemed correct and good for the user to know. I'm fine with removing them

[2020-01-13 15:11] mitzimorris commented on #793
first off, thanks for alerting me to this and the discussion on the forums.

for the upcoming release, I think that we should leave this as is - this message is informative and the language is appropriate - if it's OK with everyone, I will close this PR - is that OK?

let's discuss changes for 2.22++ on the forums

[2020-01-13 15:31] wds15 commented on #793
I am only fine with closing the PR (and not reverting) if everyone is fine with changing the CmdStan printouts between releases easily. We are usually super conservative with deprecation/change of existing behavior things. If we are a bit less restrictive in this regard, then I am fine with leaving it in for this release. If not, we should revert the changes and postpone the change.

(Sorry, I hav

[2020-01-13 16:01] rok-cesnovar commented on #793
I do not remember any changes to the printouts so I dont have anything to gauge this change with.

I don't have a sense of how severe a change to the info logger is (hopefully no one is relying on the exact order of output lines), so don't have a strong opinion either way. I do understand your frustration with the "change of existing behavior" things.

If the decision will be to keep the current m

[2020-01-13 19:34] mitzimorris opened #795 "redo cmdstan arguments; introduce flat arg structure; continue to support current syntax"
#### Summary:
Change current CmdStan argument parser which imposes idiosyncratic constraints on the ordering of options to a flattened parser which allows arguments to be specified in any order, at the same time, continue to support the current syntax until the next major Stan release.

#### Description:
Knowledgeable Stan users find CmdStan impossible to use because they cannot get the command li

[2020-01-13 19:36] mitzimorris commented on #795
next step is a design spec for flattened argument structure which is will compatible with CmdStanX lightweight wrappers.

[2020-01-13 19:49] wds15 commented on #795
maybe boost is an option here:

https://www.boost.org/doc/libs/1_72_0/doc/html/program_options.html

[2020-01-13 19:59] mitzimorris commented on #795
thanks - that's promising, however, for the time being, in order to accept the current syntax as well as a flat syntax, we'll need a custom parser which processes the command line arguments in order and maintains a notion of "state" as needed for the current system.

[2020-01-14 08:17] rok-cesnovar commented on #795
+1 to this. Feel free to tag me for review(s).

This means that there will be duplicate arguments mapping to the same values, which I personally think is fine for this transition period.

A few questions:
- what will happen in the unlikely case of someone using both mappings of the same value in the call? For example: `model ... output file=something.csv output_file=something_else.csv`. Do we erro

[2020-01-14 18:26] mitzimorris commented on #795
everything is more likely than you think - imagine a simple cut and paste error and a long command line - this may well happen.  agreed that we should not do things silently - we should flag things.    the problem with the current argument parser is that when you ignore the implicit nested syntax, you get a very unhelpful error message.

yes!

we shouldn't do anything that will cause existing prod

[2020-01-14 19:34] rok-cesnovar commented on #795
I dont see how it could. I mean, it would only break scripts that rely on some exact order (exact down to spaces and newlines) of info messages... Which seems like a bad idea from the start.

[2020-01-15 08:23] rok-cesnovar commented on #793
Based on what @bob-carpenter mentioned on [Discourse](https://discourse.mc-stan.org/t/new-message-on-stan-threads/12596/5) I think we can keep this in for 2.22, but do have to fix the issue whe both MPI and threading are on. After the feature freeze I will move this information to the  chain run parameters as Sebastian suggested.

[2020-01-16 01:19] mitzimorris commented on #795
closing this issue after discussion with @bob-carpenter who suggested a different command-line interface using a more git-like syntax.

@rok-cesnovar, @bbbales2, @jgabry, @syclik, @wds15, and Bob - feedback and suggestions for draft spec for a new command line interface, tentatively called CmdStan3: https://github.com/stan-dev/design-docs/blob/cmdstan3/designs/0005-cmdstan3.md

[2020-01-16 22:57] mitzimorris commented on #795
really closing this issue.

[2020-01-16 22:57] #795 closed

[2020-01-16 22:59] mitzimorris commented on #791
note that proposal for CmdStan3 would remove need for this feature:  https://github.com/stan-dev/design-docs/blob/cmdstan3/designs/0005-cmdstan3.md

[2020-01-17 21:26] mitzimorris opened #797 "determine stanc3 distribution"
#### Summary:
The stanc3 compiler is distributed as a pre-built binary - determine the best way to include this in the release and change the release procedures accordingly.

#### Description:
https://discourse.mc-stan.org/t/releasing-stanc3-in-cmdstan-options/12679

[2020-01-17 21:29] mitzimorris commented on #797
@serban-nicusor-toptal - what is going to happen with the release?

[2020-01-17 21:35] wds15 commented on #797
I think it would be preferable if downloading cmdstan does the job. So no more online connection should be needed after having downloaded cmdstan.

[2020-01-17 23:00] serban-nicusor-toptal commented on #797
Hey, @mitzimorris I think it's best to go with what @wds15 said, the simplest solution for the user and includes fewer steps.

I have the following questions for the release:

1. How and where should the above be implemented? If it's done in the makefile of cmdstan it won't change the release process?
2. What are the next release versions? Last time it was a bit tricky with 2.21.0 and 3.0
3. Last

[2020-01-18 14:18] mitzimorris commented on #797
@serban-nicusor-toptal - are the stanc3 tagged with the same version as the rest of the release?   if so, the solution is:

- include the release version of the stanc3 pre-built binaries as part of the cmdstan tarballs.
- change the makefile, which currently download the nightly release of stanc3 - definitely not what we want to do - and instead, have it copy (or symlink?) the os-specific binary w

[2020-01-18 14:26] serban-nicusor-toptal commented on #797
Looks like the today release of stanc3 is tagged with the proper [version](https://github.com/stan-dev/stanc3/releases)
I'd go for copying it since windows doesn't like symlinks.

I'm in for this way of doing it, what do you think @seantalts @rok-cesnovar @jgabry ?

[2020-01-18 14:29] mitzimorris commented on #797
see above comment - if we get the stanc3 versioning and the cmdstan makefile fixed, this won't change the release process.

the Stan version is 2.22.0 - it's a version 2 release because we're preserving backwards compatibility with all existing features in the language (AFAIK?)

agreed, that readme is very nice.

the CmdStan release can be done anytime after the Stan and stanc3 release.

@rok-cesn

[2020-01-18 15:12] rok-cesnovar commented on #797
This is it on Cmdstan side:

- Cmdstan now prints info on threading and OpenCL when either are used
- Cmdstan now uses pre-built binary of the Stan compiler written in OCaml
- add a new make rule for cleaning up compiled Stan programs

Bugfix:
- accepts arrays where any dimension is size 0
- cleanup use of Eigen vectors of strings
- makefiles fixes for cases where users delete the model .hpp file

[2020-01-18 20:16] rok-cesnovar commented on #797
Here is my quick draft for the Math release notes: https://gist.github.com/rok-cesnovar/923fcc78139f4331fcb73c28afc7a332#file-math-3-1-release-notes-draft

Hopefully I included everything. Would be great to have another set of eyes on it. Tagging @mcol, @SteveBronder, @t4c1 but anyone is welcome.

[2020-01-19 02:37] mitzimorris opened #798 "change makefile to pick up stanc3 compiler included with cmdstan distro"
#### Summary:
CmdStan makefile should use latest release version of stanc3 compiler.

#### Description:
see discussion here: https://github.com/stan-dev/cmdstan/issues/797#issuecomment-575902335

[2020-01-20 10:16] rok-cesnovar commented on #797
Stan Math release notes are now a bit more polished https://gist.github.com/rok-cesnovar/923fcc78139f4331fcb73c28afc7a332#gistcomment-3145261

cc: @serban-nicusor-toptal

For Stan there weren't many changes. I think this is it:

Features:
- validate_dims in stan::io::var_context vas made a virtual function which allows its implementation for JSON data which is needed to accepts arrays where any di

[2020-01-20 10:46] wds15 commented on #797
The biggest change is - to me - switching to the new stanc3 parser. That needs to be clearly visible.

[2020-01-20 10:57] rok-cesnovar commented on #797
Yes, I agree. That is noted in the Cmdstan notes draft [here](https://github.com/stan-dev/cmdstan/issues/797#issuecomment-575907260). We can move it to the top and bold it.

Though users actually wont even notice it, except for the features/bug fixes noted in the stanc3 release notes. For now its supposed to replicate the existing compiler.

[2020-01-20 12:18] wds15 commented on #797
Users will notice. The error messages are different and for complicated Stan programs its going to be interesting. I know that from my own ones (don't get me wrong - no open issue known to me).

[2020-01-20 15:19] mitzimorris commented on #797
absolutely.

double absolutely.

[2020-01-20 15:20] mitzimorris commented on #797
this issue isn't quite the right place to raise the question, are we ready to release the stanc3 compiler?

[2020-01-20 15:37] wds15 commented on #797
I think we have to bite the bullet at some point - so why not now?

I agree with you that users should know where to turn to if they find trouble. However, it will be hard for users to discern if something is a `stanc3` or a cmdstan issue. So we could just let everyone file stuff here for now and move it over? I think moving issue between repos is easy by now; I could be wrong.

[2020-01-20 16:46] serban-nicusor-toptal commented on #797
Hey @mitzimorris can you please review the docs generation job when you have a min? Thank you.
If you have any suggestions of what we can improve or add to remove manual work related to it that would be nice.

Jenkinsfile can be found [here](https://github.com/stan-dev/ci-scripts/blob/refactor-jenkins-docs/docs/Jenkinsfile), after feedback and changes I will push it in docs master branch.
Visual r

[2020-01-20 17:33] rok-cesnovar commented on #797
I think the majority opinion was for packaging three OS-specific packages with binaries included. That way `make build` wont download latest nightly stanc3 build which it does currently.

The only question that remains if we want to change what happens if someone deletes the stanc executable. Does `make build` download the nightly build or the release build. If we go with the latter we should then

[2020-01-20 17:44] bob-carpenter commented on #797
Can we have an option to pull down the parser version that matches a release?

[2020-01-20 17:58] rok-cesnovar commented on #797
Yes, thats what i mean by “download the release compiler/parser build”. Make build currently pulls https://github.com/stan-dev/stanc3/releases/tag/nightly but we could also use https://github.com/stan-dev/stanc3/releases/tag/v2.22.0

[2020-01-20 18:08] wds15 commented on #797
<spoil>
since everyone managing this release is on this PR (sorry to spoil)... could someone kick of performance tests for this:
https://github.com/stan-dev/math/pull/1632
It could be worthwhile to wait to get this in. It will speedup *all* models by saving `chain` calls for all declared parameters. That could be noticable in models depending on the remaining complexity, etc.

</spoil>

[2020-01-20 18:46] mitzimorris opened #800 "Document how to diagnose compiler errors"
We need documentation and procedures for end-users so that when existing models which were developed and tested via releases with the old stanc compiler are recompiled with the new stanc3 compiler, if there are any differences in performance or results, the users can figure out how to get help and/or how best to diagnose and document these behavoirs.

[2020-01-20 19:38] mitzimorris commented on #797
hi @serban-nicusor-toptal - looks good to me - many thanks!

[2020-01-20 21:39] serban-nicusor-toptal commented on #797
Is there anything else on the checklist for the release ? Can I proceed with the release of `2.22` for Stan, CmdStan and stanc3. Also math becomes `3.1` right ?

[2020-01-21 10:12] rok-cesnovar commented on #797
Math will be 3.1 yes. I think Math and Stan are ready, for cmdstan we should wait for https://github.com/stan-dev/cmdstan/pull/799 and for stanc3 we should wait for https://github.com/stan-dev/stanc3/issues/435 (I think this one was already fixed) and https://github.com/stan-dev/stanc3/issues/436

[2020-01-21 14:50] mitzimorris commented on #797
CmdStan release notes always just say "see Stan and Math release notes" - we need to document the new parser, per discussion https://github.com/stan-dev/stanc3/issues/436#issuecomment-576613834

@rok-cesnovar - happy to help with release notes - where are they?

[2020-01-21 14:54] rok-cesnovar commented on #797
We drafted a math release notes here https://gist.github.com/rok-cesnovar/923fcc78139f4331fcb73c28afc7a332#file-math-3-1-release-notes-draft

Not much happened for Stan so this is it here https://github.com/stan-dev/cmdstan/issues/797#issuecomment-576204588

[2020-01-21 17:57] rok-cesnovar commented on #798
Closed via #799

[2020-01-21 17:57] #798 closed

[2020-01-21 18:05] rok-cesnovar commented on #797
Ok, so docs on how to diagnose potential stanc3 issues and we are ready as far as I understood.

I do have one question that was pointed out in a PR.

@mitzimorris wrote:

We could also do platform-specific tarballs or could do both: a platform agnostic tarball and more lightweight platform specific tarballs (potentially a support nightmare due to confusion). The downside of platform agnostic is t

[2020-01-21 18:12] mitzimorris commented on #797
OK, drafting docs on stanc3 - will have something ready this afternoon.

I'd prefer a platform agnostic tarball - note that the CmdStanX wrappers are downloading this one, so adding platform-dependent versions will propogate complexity to the wrappers as well.

[2020-01-21 18:23] rok-cesnovar commented on #797
I am actually close to finishing a PR to cleanup the manual/readme so you could wait on that to see if there is anything else to add.

[2020-01-22 01:07] mitzimorris opened #802 "2.22.0 release notes"
#### Summary:
pulling discussion of 2.22 release notes into its own issue  from here: https://github.com/stan-dev/cmdstan/issues/797#issuecomment-576204588

#### Description:
Proposed release notes summarizing Stan changes don't mention stanc3 compiler -
need to put this at the top

Current proposal:

Features:

- validate_dims in stan::io::var_context vas made a virtual function which allows its

[2020-01-22 01:13] mitzimorris commented on #802
What we want to say about the new compiler:

As of version 2.22, CmdStan has switched to the new Stan-to-C++ compiler, called stanc3. This compiler is intended to be backwards compatible with the existing Stan language and should accept all models that compile under the release 2.21 compiler.  [Troubleshooting instructions](https://github.com/stan-dev/cmdstan/tree/docs_readme_cleanup_stanc3#troubl

[2020-01-22 01:15] mitzimorris commented on #802
@serban-nicusor-toptal - hope this helps!

[2020-01-22 05:23] #800 closed

[2020-01-22 05:40] rok-cesnovar commented on #797
Great, I think we are all set now for the release.

[2020-01-22 09:32] rok-cesnovar commented on #802
So for CmdStan its what is written below with the above comment from @mitzimorris on top:

Features

- switched to using pre-built binary of the Stan compiler written in OCaml
- added printing info on threading and OpenCL when either are used
- adde a new make rule for cleaning up compiled Stan programs

Bugfix:
- accepts arrays where any dimension is size 0
- cleanup use of Eigen vectors of strin

[2020-01-22 09:43] rok-cesnovar commented on #797
Closing this issue as I think this was settled and we can continue any release related discussion on the release notes issue.

[2020-01-22 09:43] #797 closed

[2020-01-22 14:00] serban-nicusor-toptal commented on #802
Thank you all for helping out with the release notes and cmdstan/stanc3 changes!
I will give it a few more hours so everyone has time to verify if there's something missing and have time to comment/fix. I'll go over the release notes to make sure they're good and if nothing else pops up I'll do the release.

Math 3.1
Stan/CmdStan/Stanc3 2.22

[2020-01-22 14:15] bob-carpenter commented on #802
This looks like a dealbreaker bug for TBB + map_rect:

https://github.com/stan-dev/math/issues/1637

@wds15 --- is the bug still there in 2.22?  Is there any chance it can get fixed before release?  If not, we need to **strongly** discourage users from using multi-threading until it's fixed.

[2020-01-22 14:29] wds15 commented on #802
@bob-carpenter The issue is still there. I do not think it is critical. What is happening is that some TBB resources do not get de-allocated in the right order. However, this happens after the entire Stan program ran successfully such that no inference is affected at all.

I can look into fixing it by tomorrow if you consider it that urgent. It will not help to discourage users from using threadin

[2020-01-22 14:43] bob-carpenter commented on #802
If multithreading segfaults, it's going to take down RStan or PyStan, so yes, I'd consider it a critical bug that needs to be fixed before this release. Or we need to tell people about it very clearly and tell them not to use threading in PyStan or RStan (this may not even be an issue if they haven't caught up yet).

[2020-01-22 14:56] rok-cesnovar commented on #802
My opinion is that we should put off the release if this can be fixed in a day. We are already 4 days of target anyways.

[2020-01-22 15:24] wds15 commented on #802
It's not going to take down Rstan or PyStan as they manage globals differently. The problem only exists whenever the entire globals go out of memory - including the TBB management. This won't happen before everything is done.

...but we can fix it relatively sure within 24h from now. I just do not have time before tomorrow my morning.

[2020-01-22 21:53] mitzimorris commented on #802
I would prefer to delay this release if the bug can be fixed within the next 2-3 days.  otherwise, we should do a release and document the bug.
is this now the place where we're discussing release or no?

[2020-01-22 22:06] wds15 commented on #802
I will try to resolve it tomorrow. We don’t have a dedicated place for release discussions I think.

[2020-01-23 16:35] rok-cesnovar commented on #802
The Math PR is close to being merged (<1 hour) but the merge must also then pass the tests and then it will propagate to cmdstan, so everything will be ready this evening New York time or tomorrow CET, which I assume is the timezone @serban-nicusor-toptal is in.

[2020-01-23 21:31] yizhang-yiz opened #803 "Random seed is not logged/written correctly"
#### Summary:
cmdstan output records default random seed as `-1` instead of its exact value.

#### Description:
cmdstan output records default random seed as `-1` instead of its exact value.

#### Reproducible Steps:
[code]

#### Current Output:
[code]

#### Expected Output:
The value of current seed.

#### Additional Information:
Provide any additional information here.

#### Current Version:
v2.

[2020-01-24 03:40] mitzimorris commented on #803
CmdStan reports the user-specified command-line arguments - in this case, no random seed was specified, so the default argument value `-1` was used; when `-1` is the argument value, then the Stan executable sets the seed based on the timestamp.

What you're asking for, if I understand correctly, is that the csv file contain the random seed value - it that correct?  A reasonable request - we should

[2020-01-24 03:44] yizhang-yiz commented on #803
Yes, I’d like to see cmdstan reports exact value of the seed, just like in 2.19.1  &  earlier.

[2020-01-24 08:40] rok-cesnovar commented on #802
Everything is ready now. Not sure who needs to give the green light to Nic to proceed with the release? @mitzimorris maybe?

[2020-01-24 13:09] seantalts commented on #802
I passed off my responsibility for that to @jgabry for the time being.

On Fri, Jan 24, 2020 at 03:40 Rok Češnovar <notifications@github.com> wrote:

[2020-01-24 13:51] wds15 commented on #802
Do we really need another blessing here? We have decided to release every 3 month after a 1 week feature freeze. We are following that process and just had some delays for good reasons (stanc3 parser + last minute bug). All that is done.

So we are good to go ahead from my view, but maybe I missed that someone with authority has to sign off this... but that's new to me.

[2020-01-24 13:53] seantalts commented on #802
Sounds good to me!

On Fri, Jan 24, 2020 at 08:52 wds15 <notifications@github.com> wrote:

[2020-01-24 14:29] serban-nicusor-toptal commented on #802
Hey, I will get home in about two hours. Till then there's time to make sure everything is ready. As soon as I get home will start the release process if nothing pops up meanwhile.

[2020-01-24 17:48] serban-nicusor-toptal commented on #802
The releases for [Math](https://github.com/stan-dev/math/releases), [Stan](https://github.com/stan-dev/stan/releases), [CmdStan](https://github.com/stan-dev/cmdstan/releases) are now complete. If anyone can take a look to double-check I'll be grateful!

In stan I've referenced `2.22` docs but they don't yet exist in master, there's [this PR](https://github.com/stan-dev/docs/pull/139) in docs for t

[2020-01-24 18:16] rok-cesnovar commented on #802
Thanks @serban-nicusor-toptal

I think we need to do one minor fix.

These should remain on nightly: https://github.com/stan-dev/cmdstan/commit/e4928d50b170f3832f791d71d2a55975b1493ce5#diff-0f054d4f459f57b990415bb064749bdaL55

The new link doesnt work anyways: https://github.com/stan-dev/stanc3/releases/download/2.22.0/, should be v2.22.0.

However, we should stick with nightly there, see https://

[2020-01-24 18:23] serban-nicusor-toptal commented on #802
@rok-cesnovar Done!

[2020-01-24 18:47] rok-cesnovar commented on #802
Can we also update the release tarballs and source files or would that require another release?

[2020-01-24 18:50] serban-nicusor-toptal commented on #802
I can re-generate locally, give me a few moments, please.

[2020-01-24 19:07] serban-nicusor-toptal commented on #802
So in order for the release to pick up last commit which quickfixed the `nightly` part I had to delete the tag and re-create it pointing to the [correct commit](https://github.com/stan-dev/cmdstan/releases/tag/v2.22.0).
Also rebuilt `cmdstan-2.22.0.tar.gz` from the last tag.
Source code `zip` and `tar.gz` are now reflecting last commit.

[2020-01-24 19:16] rok-cesnovar commented on #802
Looks good now! Thanks again @serban-nicusor-toptal. Will close this issue now.

[2020-01-24 19:16] #802 closed

[2020-01-25 19:08] SteveBronder opened #804 "`make build` fails"
#### Summary:

When running `make build` with a fresh cmdstan there's no /bin

I'm getting the following errors

#### Current Output:

download of new compiler fails

#### Expected Output:

new compiler downloads

#### Additional Information:
Provide any additional information here.

#### Current Version:
v2.22.0

[2020-01-25 19:45] bbbales2 commented on #804
Same.

I'm getting the error:
[code]

The problem seems to be an extra right parenthesis here: https://github.com/stan-dev/cmdstan/blob/develop/make/stanc#L46

[2020-01-25 21:30] rok-cesnovar commented on #804
What to do here? Do we re-do the release for cmdstan or a hotfix? We could fix just the tarball.

[2020-01-25 21:49] SteveBronder commented on #804
I'm not sure on what's kosher here but I'm fine with a re-release as 2.22.1

[2020-01-25 21:50] mitzimorris commented on #804
please let's do a hotfix and fix the tarball.

[2020-01-25 21:51] mitzimorris commented on #804
I can fix the makefile tomorrow - if someone can do it before then, that would be awesome.

[2020-01-25 22:26] SteveBronder commented on #804
Got a fix in #805. We were just missing a one liner to make the bin directory.

We only released like two days ago so I don't see this as a big sweat as long as we get it in soon

[2020-01-26 09:05] rok-cesnovar commented on #804
The tarball bug which @bbales notes (the parenthesis) is my fault, I didn't do a thorough enough review of everything introduced in https://github.com/stan-dev/cmdstan/pull/799

To make sure this one doesn't happen again, we should add a test that tries to () build with windows-stanc, linux-stanc and mac-stanc. I can take care of that. I apologize to anyone affected.

I am not sure about this bug

[2020-01-26 09:35] rok-cesnovar commented on #804
Ok, got to the bottom of how this happened. I reviewed #799 while on Windows and on Windows mkdir is used https://github.com/stan-dev/cmdstan/blob/develop/make/stanc#L51

Before #799, mkdir was used in both Windows and non-windows, so what I said before "The way stanc is download has stayed the same for 3 months now" doesnt hold. Sorry.

As to why Jenkins passes: because of parallel builds. bin/cm

[2020-01-27 00:18] mitzimorris commented on #804
Steve's fix is in - https://github.com/stan-dev/cmdstan/pull/805  - many thanks!!

can we do a hotfix for CmdStan relrease and create a new tarball?  this will bump the version to 2.22.1,  correct?

[2020-01-27 07:02] rok-cesnovar commented on #804
So https://github.com/stan-dev/cmdstan/commit/e9075d0b750205cfe23f4f86cef59446b27db8d5 should be merged to the current master and released with a new tarball that also contains the bin/windows-stanc, bin/linux-stanc, bin/mac-stanc.

cc @serban-nicusor-toptal

[2020-01-27 09:27] avehtari opened #806 "cmdstan fails to compile a model"
#### Summary:
Using cmdstan-2.22.0.tar.gz, fixed #804 so that make build works.

Using cmdstanr (but this is clearly an issue in cmdstan or stanc3)

One model compiles and runs successfully, but other one one fails the compilation.

#### Description:

This Stan model compiles and runs with previous cmdstan and 2.22.0
[code]

This model compiles and runs with the previous cmdstan, but doesn't compi

[2020-01-27 10:15] wds15 commented on #806
This is a parser related issue as it looks to me. I suggest to use the "Transfer issue" feature from GitHub to move this to stanc3 repo.

You should be able to use the old parser again if you want with some flags.

[2020-01-27 10:54] rok-cesnovar commented on #804
We will also have to do a Math 3.1.1, as @avehtari has uncovered a separate issue.

[2020-01-27 10:57] avehtari opened #807 "add stanc version to output of bin/stanc --version"
#### Summary:
[code]
 prints
[code]
It would be useful to show also whether stanc2 or stanc3 is used

#### Current Version:
v2.22.0

[2020-01-27 11:38] wds15 commented on #804
How about a 2.23.0 ?

[2020-01-27 11:54] rok-cesnovar commented on #804
I think 2.22.1 would be better, as this would a huge release and I am almost sure other issue will come up that will require additional patches. Not going to oppose though.

[2020-01-27 12:25] wds15 commented on #804
Sure. I just recall that these hot fixes were difficult to manage release wise... but nothing I am affected.

(moreover, in case we were to go with 2.23.0, then we should have another week of a feature freeze)

[2020-01-27 12:30] wds15 commented on #807
I am not sure this is useful. The plan is definitely to drop stanc2 entirely. There will only be a single stanc for a given cmdstan version. @mitzimorris should weigh in here, but I would not think that we need this.

[2020-01-27 14:23] avehtari commented on #807
As long as there are two options, there should be a way to see which is actually used. It seems this will be fixed in stanc3 stan-dev/stanc3#443, see also stan-dev/cmdstanr#115

[2020-01-27 17:20] rok-cesnovar commented on #807
In order to distinguish until we have both, stanc3 will output stanc3 on 2.22.1+. The fix was already merged so I am going to close this.

After the old compiler is phased out we can come back to this.

[2020-01-27 17:20] #807 closed

[2020-01-29 17:15] jgabry commented on #802
Sorry to be late to chime in here, I've been away. But glad to see the resolution here. Thanks everyone!

[2020-01-29 18:52] rok-cesnovar opened #808 "Release of Cmdstan 2.22.1"
#### Summary:

So as we know, we will have to do a hotfix release for Cmdstan. Compared to the current master that will update the Stan submodule to 2.22.1 (see https://github.com/stan-dev/stan/issues/2883) and cherry pick the merge commit https://github.com/stan-dev/cmdstan/commit/e9075d0b750205cfe23f4f86cef59446b27db8d5 of https://github.com/stan-dev/cmdstan/pull/805 to master.

This will probab

[2020-01-31 14:56] mitzimorris commented on #804
closing this issue - fixed and released

[2020-01-31 14:56] #804 closed

[2020-01-31 17:56] mitzimorris opened #809 "document how to pass stanc3 command line arguments through makefile"
#### Summary:
CmdStan makefile `make/program` uses variable `STANC_FLAGS`
Clearly document how to use this.

#### Description:

#### Reproducible Steps:
Please report steps to reproduce the issue. If it's not possible to reproduce, please include a description of how you discovered the issue.

If you have a reproducible example, please include it.

#### Current Output:
The current output. Knowing

[2020-02-01 14:20] serban-nicusor-toptal commented on #808
CmdStan was releases [v2.22.1](https://github.com/stan-dev/cmdstan/releases/tag/v2.22.1), tests passed.
Will add manual and tar.gz soon.

[2020-02-02 11:34] rok-cesnovar commented on #808
Everything released, tarball ready. Thanks @serban-nicusor-toptal

[2020-02-02 11:34] #808 closed

[2020-02-03 12:10] rok-cesnovar commented on #808
@serban-nicusor-toptal Argh, the windows tarball has a new bug if bin/windows-stanc is present. Lets fix this temporarily by removing the bin/windows-stanc from the tarball in which case everything is fine. I dont think this needs another release now. We can release this when we fix any other new found stanc3 issues.

[2020-02-03 12:35] rok-cesnovar opened #810 "On merge to master run all the interface tests with the created tarball"
#### Summary:
This would avoid any bugs with the tarballs that has the stanc3 binaries. The final tarball is not being tested currently (just the master).

This can also be just a custom job we can restart at anytime. I would just like to see this being simple to test without much manual work (a few manual clicks on Jenkins is fine by me).

#### Current Version:
v2.22.0

[2020-02-05 19:36] ito4303 opened #813 "Compilation error of user-defined RNG function"
#### Summary:
User-defined RNG function with a vector argument causes compilation error on CmdStan 2.22.1.

#### Description:
The compilation of the following model code fails with CmdStan 2.22.1.

[code]

#### Reproducible Steps:
After the compilation of CmdStan 2.22.1,  compile the above model.

#### Current Output:
As follows in Ubuntu 18.04.

[code]

#### Expected Output:
CmdStan 2.21.0 makes

[2020-02-05 20:40] mitzimorris commented on #813
this is a bug in the new compiler - filed issue https://github.com/stan-dev/stanc3/issues/460
closing this one.

@ito4303 ,  the workaround is to remove the stanc3 compiler and go back to using the stan2 compiler:

[code]

[2020-02-05 20:40] #813 closed

[2020-02-07 10:38] rok-cesnovar opened #815 "make clean-all doesnt cleanup everything"
#### Description:

If you follow these steps:
- clone a fresh cmdstan
- make build
- make a model (for example make examples/bernoulli/bernoulli)
- make clean-all

There are the following files left:
[code]
Not sure if this is the cause of the issues @avehtari has been experiencing lately with make clean-all but this should definitely not be the behavior of make clean-all.

The other less crucial

[2020-02-07 11:21] rok-cesnovar commented on #815
There are also some additional leftover files if you use the STANC2 make flag to build.

[2020-02-07 17:39] #815 closed

[2020-02-08 21:59] mitzimorris commented on #809
https://github.com/stan-dev/cmdstan/pull/812

[2020-02-08 21:59] #809 closed

[2020-02-08 22:02] mitzimorris opened #817 "only version CmdStan guide to Maj.min (not Maj.min.patch)"
#### Summary:
CmdStan pdf should only be versioned to the minor release level, e.g. cmdstan-guide-2-22.pdf, not cmdstan-guide-2-22-0.pdf

#### Description:
Docs are valid for entire release

#### Reproducible Steps:
fix build script?

#### Additional Information:
this will go away when we get the CmdStan docs rolled into the rest of docs repo.

#### Current Version:
v2.22.0

[2020-02-13 19:51] mitzimorris opened #819 "facilitate use of either stanc2 and stanc3 compiler when compiling a Stan program"
#### Summary:
Makefile rules build and use `bin/stanc` program, but for the sake of debugging the Stanc3 compiler, it would be nice to have both `bin/stanc` and `bin/stanc2` programs available and the flag `STANC2` could be used by the rules in `make/program` as well as current use in `make/stanc`

This would allow users to choose the compiler without having to replace/rebuild program bin/stanc fi

[2020-02-18 08:27] #819 closed

[2020-02-18 19:27] mitzimorris opened #822 "investigate online counts of post-warmup divergences (or any column) during sampling"
#### Summary:

When CmdStan completes a run, it should report number of post-warmup divergences and number of iterations where maxtreedepth was exceeded, and it should track this effeciently, i.e., minimal memory overhead.

We want this for cmdstanpy/cmdstanr and lightweight wrappers to avoid reading in the entire outputs.

#### Description:
tee `sample_writer` in `command.hpp`:

#### Current Vers

[2020-02-19 13:01] rok-cesnovar commented on #770
I am going to close this stale issue. Do reopen if it was not resolved.

[2020-02-19 13:01] #770 closed

[2020-02-19 20:18] SteveBronder opened #825 "Add run time options for threads and gpu stuff"
#### Summary:

It would be nice to have a `parallel` option so users could do something like `parallel threads=4 opencl_device=0 opencl_platform=0` or something of that ilk. What should it look like?

#### Description:

Right now we need to set threading info as an environment variable and the OpenCL stuff has to be known at compile time. I think at the math level we need

- [ ] method to set numb

[2020-02-19 21:26] rok-cesnovar commented on #825
That would be fantastic. Let me know if you need any help or need a review.

[2020-02-22 13:40] mitzimorris commented on #757
this assumes that you're using `make/local` to get the compiler options and not passing them in from the command line.  so `make/local` is not a reliable indicator of when you need to recompile `main.o`.

[2020-02-22 13:50] mitzimorris commented on #757
@rok-cesnovar - we need to look into GNU Make dependencies - happy to help on this one - http://make.mad-scientist.net/papers/advanced-auto-dependency-generation/

[2020-02-24 13:58] #793 closed

[2020-02-25 09:43] rok-cesnovar commented on #803
See details for reopening https://github.com/stan-dev/cmdstan/pull/831

[2020-02-25 12:45] bob-carpenter opened #833 "compressed output from CmdStan and input to bin/print"
Sebastian Weber suggested this for RStan, but it would be good to have in Stan, too.  See <a href="https://github.com/stan-dev/rstan/issues/38">RStan issue 38</a>.

Boost has compression wrappers (like Java's) for streams.  For instance, the bzip2 that Sebastian suggested is documented here:

http://www.boost.org/doc/libs/1_55_0/libs/iostreams/doc/classes/bzip2.html

[2020-02-25 21:15] #817 closed

[2020-02-26 14:24] #803 closed

[2020-02-27 21:01] bbbales2 opened #834 "AutodiffStackSingleton::instance_ translation unit"
#### Summary:

This issue is attached to: https://github.com/stan-dev/math/issues/1750

If the AutodiffStackSingleton::instance_ doesn't get instantiated somewhere in math, it'll need instantiated at the interfaces.

#### Current Version:
v2.22

[2020-02-27 21:22] wds15 commented on #834
the interfaces need to link this thing in, yes... but the initialization is handled by the tbb observer thing. The declaration of the TBB observer thing should probably also go into its own .cpp file (within math).

[2020-02-28 15:54] bbbales2 commented on #757
This is the same bit of memory that we're looking at moving to a new translation unit (https://github.com/stan-dev/cmdstan/issues/834, and https://github.com/stan-dev/math/issues/1750).

If that happens then maybe the solution here is we build the new translation unit in both thread-local and non-thread-local forms and link the right one according to build flags.

But it hasn't been confirmed that

[2020-03-01 11:47] saudiwin opened #835 "no viable overloaded '=' error in map_rect compilation"
#### Summary:
When I try to compile a Stan program with a `map_rect` function, I get a no viable overloaded = when trying to assign a part of a vector to a real array.

#### Description:
I have a `map_rect` function that unpacks a lot of parameters from vectors passed to the function. For some reason, one of these lines of code is failing with `cmdstan` 2.2.22 at the linking stage. The output from

[2020-03-01 14:59] mitzimorris commented on #835
@saudiwin - could you please send the smallest possible program which triggers this error?  that would be a huge help.
in CmdStan 2.22.1 (current release) or current CmdStan develop, could you try doing
`make clean-all` and then trying to recompile?

[2020-03-01 16:20] bob-carpenter commented on #835
For a related `stanc3` issue, see:  https://github.com/stan-dev/stanc3/issues/441

This isssue, if verified, should be moved to the `stanc3` repo.

[2020-03-05 19:39] rok-cesnovar opened #836 "Mark the end of printing run arguments more explicitly"
#### Summary:

Currently, sampling starts after something like

[code]
And then that is followed by either "Gradient evaluation took ..." or "Rejecting initial value:" or something else.

We should add an explicit mark after all the arguments are printed. Something like "Starting..." or a dashed line or whatever (suggestion welcome). This would simplify parsing stdout in cmdstanX

#### Current Ver

[2020-03-06 19:26] rok-cesnovar opened #837 "Curl that downloads stanc3 should retry on failure"
#### Summary:

Github occasionally (rare but it happens) returns error on requests for the stanc3 binary. For a user this generally isnt a huge problem (the next make build or the next model compilation retries to download) but its more of a problem for CI (make build returns an error return code which stops the build).

The solution is that on failure curl should retry the download (example: http

[2020-03-09 15:39] #837 closed

[2020-03-11 11:08] saudiwin commented on #835
So it turns out this was pretty easy to debug. The issue is that if I attempted to splice an array of reals and assign to another array of reals, I got the error above when doing so within a `map_rect` function. When I instead assigned a splice of an array to a vector using `to_vector`, no error reported.

In other words, the difference between:

[code]

and

[code]

The latter compiles while the

[2020-03-11 19:30] bob-carpenter commented on #835
@saudiwin : Thanks for the follow up.

Was the former model wrong?  If so, the parser should catch it and provide a meaningful error message, not just fail in the C++ compilation.

[2020-03-11 23:29] yizhang-yiz opened #839 "runtime error on a model that works on stanc2"
I run into a model that works on cmdstan 2.22.1 + stanc2 but not with stanc3(master). The following simplified version is nonsensical but reproduces the issue.

- model
[code]
- data
[code]
- init
[code]

#### cmdstan + `STANC2=true` binary runs without issue
[code]
#### cmdstan + `STANC3=path/to/stanc3/master` binary fails runtime
[code]

[2020-03-12 02:07] yizhang-yiz commented on #839
@SteveBronder seems related to rvalue implementation, could you take a look? Thanks.

[2020-03-12 06:29] saudiwin commented on #835
No, neither model gets any compiler warnings. Both models compile in older versions of stan (rstan 2.19.3 on Stan right now can compile it fine).

I should mention that I compiled them with `cmdstan` 2.22 on Mac OS X Mojave 10.14 with the latest clang (version 11).

The model had other issues but these proved to unrelated to the compiler warnings above. The two Stan files I posted above have nothi

[2020-03-12 13:07] dhrunia opened #840 "compilation error with RK45 integration code"
#### Summary:
Compiling stan code for inferring parameters of a couple ODE system using RK45 is throwing some errors related to underlying `C` code

#### Description:
I am trying to infer some parameters of a coupled ODE system using stan's built-in RK45 integrator. Compiling the stan code fails with the below error:
[code]
There is no error in the derivative function passed to `integrated_ode_rk4

[2020-03-12 13:12] rok-cesnovar commented on #840
Thanks for reporting. Is this is the official 2.22.1 release or clone from the repository?

[2020-03-12 13:13] maedoc commented on #840
Official 2.22.1 release

[2020-03-12 13:15] rok-cesnovar commented on #840
Thanks. In that case please try the following:

- make clean-all
- add STANC2=true to make/local
- make build
- build your model

If this compiles, then its a stanc3 issue otherwise its mostly likely related to the changes in Stan Math.

[2020-03-12 13:24] maedoc commented on #840
The error persists; I deleted the hpp file, rebuilt the model as well.  I also checked than `stanc --help` options are fewer than with the newer version.

[2020-03-12 13:34] rok-cesnovar commented on #840
Ok, that significantly reduces the space of potential causes as its most likely the changes in the Math library. Either that or something that should be caught earlier by the Stan to C++ compiler but isnt.

Can you share your model or at least bits of it that are the cause?

The things I would try for now, before someone with mode knowledge responds:
- try the develop version of cmdstan and if tha

[2020-03-12 13:38] maedoc commented on #840
Thanks for the tips.  It does compile with 2.19.1.  We can use that in the short term, and try to create a reproducer that can be shared.

[2020-03-12 13:54] maedoc commented on #840
A fresh clone of CmdStan (develop branch, f348bc1dbe8b) builds the model without error as well.  I am still running a git bisect, maybe the result would be useful anyway.

[2020-03-12 13:55] rok-cesnovar commented on #840
Fantastic. Yes, that would be very helpful. Thank you!

[2020-03-12 14:21] teddygroves opened #841 "generate_quantities fails with non-scalar parameters"
#### Summary:
I get the following type of error when running the cmdstanpy `generate_quantities` method with a model that has vector parameters:

[code]

#### Description:

To narrow down what is happening I tried changing [this line](https://github.com/stan-dev/cmdstan/blob/f348bc1dbe8b85f6b94e01a38030ccaa0acb83ed/src/cmdstan/command.hpp#L223) in cmdstan as follows:

[code]

The error message the

[2020-03-12 14:23] mitzimorris commented on #841
thanks for the thorough report - will investigate

[2020-03-12 14:38] bob-carpenter commented on #835
Thanks for the clarification.  We'll definitely look into it.  There are
lots of new compiler bug fixes that need to get done ASAP.

On Thu, Mar 12, 2020 at 2:29 AM Robert Kubinec <notifications@github.com>
wrote:

[2020-03-12 14:55] maedoc commented on #840
Bisect from v2.21.0 to v2.22.0 w/ the script
[code]
says
[code]
I would guess some commit in the submodule would provide a more precise result, but I'm not sure how to do that properly.

[2020-03-12 14:57] maedoc commented on #840
I would suggest closing this issue, perhaps at next release.

[2020-03-12 17:53] SteveBronder commented on #839
I reverted the rvalue pr so idt it would be that. This might be related to the indexing issues in this stanc3 issue

https://github.com/stan-dev/stanc3/issues/478

[2020-03-12 17:55] yizhang-yiz commented on #839
Thanks. It does look similar. I'll transfer the issue to stanc3.

[2020-03-19 12:32] jpritikin commented on #802
Wait, does this mean I can do

[code]

??

[2020-03-19 13:25] rok-cesnovar commented on #802
See https://github.com/stan-dev/cmdstan/issues/775 for details on that.

[2020-03-27 23:51] mitzimorris opened #845 "fix permissions stanc binaries xattrs for MacOS Catalina (10.15)"
#### Summary:
MacOS Catalina has added a bunch of security features  such that the stanc binaries when downloaded are automatically quarantined because they are not signed using Apple developer program credentials; compilation fails unless the user overrides the security.  This can be done several ways; investigate whether or not we can do this via the `makefile` `bin/stanc` task.

see discussion

[2020-03-28 13:33] mitzimorris commented on #845
@rok-cesnovar and @jgabry - this should fix CmdStanR install problems.

[2020-03-30 11:45] #845 closed

[2020-04-01 15:50] #786 closed

[2020-04-08 10:09] rok-cesnovar opened #848 "Stanc example in the cmdstan guide doesnt work"
#### Description:
The example:

[code]
is not valid with stanc3. It produces

[code]

Given the error this is intentional so needs to be fixed in the cmdstan guide.

#### Reproducible Steps:
See above.

#### Current Output:
See above.

#### Expected Output:
The example works.

#### Additional Information:
/

#### Current Version:
v2.22

[2020-04-08 14:24] wds15 opened #850 "Cannot use inits for a model with constrained types"
#### Summary:
I am not able to start programs with constrained types when these go into a corner case. See below.

#### Description:

Take this dummy model:

[code]

whenever now `num= 1` it is not possible to start this program with an init given to cmdstan. With this input to the init argument I am getting

[code]

[code]

when using this init of

[code]

I am getting

[code]

I am using R data

[2020-04-08 14:30] rok-cesnovar commented on #850
See https://github.com/stan-dev/stanc3/issues/485

[2020-04-08 14:32] wds15 commented on #850
Thanks! Looks like this is a duplicate. This should really be fixed before the 2.23 goes out.

[2020-04-08 14:43] rok-cesnovar commented on #850
Agreed.

Hopefully someone is able to find a fix for this. I am going to close this here in order to keep the conversation in one place.

[2020-04-08 14:43] #850 closed

[2020-04-08 16:53] #848 closed

[2020-04-11 13:09] ankane opened #851 "Ruby Library"
Hey, thanks for this great library! I wanted to let you know there's now a [Ruby library](https://github.com/ankane/cmdstan) for it. It's modeled after the CmdStanPy API and works on Linux, Mac, and Windows. I started with the methods/options needed to port [Prophet](https://github.com/facebook/prophet).

If you have any feedback, let me know or feel free to open an issue on the project. Thanks!

[2020-04-11 13:20] rok-cesnovar commented on #851
That looks great! Would you mind posting that on our Discourse: https://discourse.mc-stan.org/
It will definitely get more exposure there. And thanks for notifying us.

As technically this isnt an "issue" we will close this after a week or so. We can leave it open for some time.

[2020-04-11 13:25] ankane commented on #851
Will do, thanks @rok-cesnovar!

[2020-04-11 13:25] #851 closed

[2020-04-13 10:29] rok-cesnovar opened #852 "Cmdstan 2.23 release candidate"
#### Summary:

We are going to have a release candidate for this next release. Opening an issue to track everything about it.

@serban-nicusor-toptal can you make release candidate tarballs at the end of your work day? On the very unlikely chance something gets merged after that we will update tomorrow. But I doubt there will me much action. Once we have the release candidate tarballs ready and we

[2020-04-13 10:34] rok-cesnovar commented on #852
@wds15 @bbales2 would you mind helping me expand the first line on reduce_sum? Also, do we have a simple example we can show to people that isnt too complex but has some speedup?
No need to be too polished right now, so users can test it with the release candidate. Should I just use the base or nbme model?

[2020-04-13 11:09] wds15 commented on #852
Sure, I am happy to give a hand. I have some time tomorrow for this.

What a release!!!

[2020-04-13 11:22] wds15 commented on #852
Actually...we can point people to the intro Ben wrote which is a rewrite of an intro to Map rect. In addition we have Good Material in the Stan user guide already. That should both do it, I think.

[2020-04-13 11:24] rok-cesnovar commented on #852
Oh yeah, forgot about that. That is more than enough.

[2020-04-14 06:26] rok-cesnovar commented on #852
@serban-nicusor-toptal let me know when you make the release candidate tarballs so I can post the news.

[2020-04-14 08:18] serban-nicusor-toptal commented on #852
Good morning @rok-cesnovar
You can find the [candidate release here](https://github.com/stan-dev/cmdstan/releases/tag/2.23-candidate), sorry for being a bit late.
Is there anything else I can do to prepare us ahead for the next release ?

[2020-04-14 08:32] rok-cesnovar commented on #852
Thanks! Looks good. I updated the name to `-rc1` in the case we need to do another one. Will make a post soon.

The PDF of the cmdstan guide is missing but that is it. We have some stanc3 fixes lined up already that will need to be swaped for the final release. But I guess that is the easy thing to change. If there are no sever bugs in Math/Stan/Cmdstan that will hopefully be everything.

[2020-04-14 12:16] rok-cesnovar commented on #835
I am happy to report that this compiles with the latest version of cmdstan (release candidate https://github.com/stan-dev/cmdstan/releases/tag/2.23-candidate)

Tried with both g++ and clang on Ubuntu and both compiled. so closing this. If this still occurs for you it might be an OS thing, but I doubt that.

[2020-04-14 12:16] #835 closed

[2020-04-14 15:33] mitzimorris commented on #852
cmdstan makefile take `manual` will generate pdf in dir `doc`

[2020-04-14 16:49] mitzimorris commented on #852
checkint the CmdStan guide now - found broken links in the doc - fix in time for release?

[2020-04-14 16:51] mitzimorris commented on #852
fwiw, RC builds on both High Sierra and Catalina - but my environments are relatively cruft-free - using XCode's toolchain

[2020-04-14 16:54] rok-cesnovar commented on #852
Yes, please. Feel free to tag for review.

[2020-04-14 17:19] mitzimorris opened #854 "docs cleanup for rel 2.23"
#### Summary:
Pre-release check that information in CmdStan guide is appropriate for the 2.23 release.

#### Description:
CmdStan features are unchanged by this release, but there were some makefile changes to allow for both stanc2 and stanc3 - make sure that documentation is correct w/r/t makefile and build.

#### Additional Information:
Provide any additional information here.

#### Current Vers

[2020-04-14 18:40] wds15 commented on #854
There is now reduce sum which is a stanc3 only feature...do we document this somewhere?

[2020-04-14 19:13] mitzimorris commented on #854
reduce_sum is documented in the online Stan documentation - we'll build 2.23 versions of all three manuals - I think @serban-nicusor-toptal now has scripts that automate this.

the CmdStan guide is still in latex and therefore pdf-only.

[2020-04-14 19:36] wds15 commented on #854
Sorry if what I said was confusing... in case users use the stanc2 flavor, then they will not be able to use reduce sum as this is only implemented in stanc3. I think this is the first stanc3 only feature we have.

[2020-04-14 19:51] rok-cesnovar commented on #854
stanc2 is only meant for debugging purposes. Not really as a second type of use of cmdstan. Well, except as a backup if something doesnt work in stanc3 as it should. There are quite a number of functions that are already only implemented in stanc3 (gp_* functions for example).

[2020-04-14 22:16] mitzimorris commented on #854
https://github.com/stan-dev/cmdstan/pull/855

[2020-04-14 22:16] #854 closed

[2020-04-14 22:31] mitzimorris commented on #852
@rok-cesnovar - on ubuntu I got this error message while running makefile task `build`:

[code]
found this on SO - seems relevant - https://stackoverflow.com/questions/12230690/string-comparison-in-bash-not-found/12230723

this is used in two of the makefile files:

- https://github.com/stan-dev/cmdstan/blob/0ee3153ead078cf1bfcadd738dfb4f74bb1530c9/make/program#L58

- https://github.com/stan-dev/m

[2020-04-14 22:45] serban-nicusor-toptal commented on #852
@mitzimorris That may be because make is by default using `bin/sh` which is not the actual `/bin/bash`   it should be an easy fix following [this post](https://stackoverflow.com/questions/589276/how-can-i-use-bash-syntax-in-makefile-targets)

[2020-04-14 23:14] mitzimorris opened #856 "makefile - specify SHELL=/bin/bash"
#### Summary:
Our makefiles use bash syntax for string comparison, therefore set makefile var `SHELL` accordingly.

#### Description:
problem:  https://github.com/stan-dev/cmdstan/issues/852#issuecomment-613713061
solution: https://github.com/stan-dev/cmdstan/issues/852#issuecomment-613717625

#### Reproducible Steps:
Reproduce on Ubuntu - run `make build`

#### Current Output:
see linked comments

[2020-04-15 00:00] mitzimorris commented on #856
tested this - rule needs to go into math lib make file `libraries`
moving issue to Stan math

[2020-04-18 13:22] rok-cesnovar commented on #852
@serban-nicusor-toptal would you mind doing a release candidate 2?

We had to fix a few things and I think that would be best. So cmdstan develop + stanc3 nightly.

I would say we move the actual release to Wednesday or Thursday to not prolong the feature freeze too much?

[2020-04-18 13:48] serban-nicusor-toptal commented on #852
Hey @rok-cesnovar you can find rc-2 [here](https://github.com/stan-dev/cmdstan/releases/tag/2.23-rc2) please let me know if everything is fine, thanks!
I'm fine with any release day as long as everything is done for the current release and everyone is okay with it.

[2020-04-18 22:09] mitzimorris opened #857 "makefile cleanup - don't compile bin/stanc2 as part of `build` task"
#### Summary:
To speed up CmdStan install, don't compile stanc2 as part of `build` task.

#### Description:
Discourse discussion: https://discourse.mc-stan.org/t/cmdstanr-install-cmdstan-not-finishing-build-of-cmdstan/11929/21?u=mitzimorris

#### Reproducible Steps:
Please report steps to reproduce the issue. If it's not possible to reproduce, please include a description of how you discovered the

[2020-04-19 09:01] #857 closed

[2020-04-19 09:24] rok-cesnovar opened #859 "Typo/copy paste error in OpenCL info writer"
#### Summary:
The OpenCL info writer has a typo/copy paste error.

#### Current Output:
The info is listed as:
[code]
#### Expected Output:
Should be

[code]

#### Additional Information:
Provide any additional information here.

#### Current Version:
v2.22

[2020-04-21 20:06] mitzimorris opened #861 "makefile variable `STAN_THREADS` on by default"
#### Summary:

Change makefile so that variable `STAN_THREADS` is always on by default.

#### Description:

Compilation of a Stan model is now independent of compilation of `command.o` and the rest of the stan libs, however, if there is a mismatch between the `STAN_THREADS` compiler flags for the two compilation events, compilation fails with a linker error.

The static member variable instance__

[2020-04-21 21:23] #859 closed

[2020-04-22 14:17] rok-cesnovar commented on #852
Cmdstan release notes:

- Updated docs for stanc compiler
- when random seed = -1, the actual used seed is written to the output and CSV file
- fixed make clean-all to cleanup all build files
- easier way of building models with the previous compiler (stanc2) for debugging
- info on threading, MPI and OpenCL is now shown in the output and the CSV file
- downloading stanc3 binaries now retries on f

[2020-04-22 15:25] mitzimorris commented on #852
comment in above release notes, each entry should be capitalized and have a period at the end (i.e., a sentence) - or all entries should be lowercase with no period (i.e., a phrase)

[2020-04-22 15:33] rok-cesnovar commented on #852
I will fix that in a sec. If anyone volunteers for making a post once released, please let me know. Else I will make one in the evening CET time.

[2020-04-22 15:57] mitzimorris commented on #852
happy to start work on a post - we should also put an announcement up on Andrew's blog

[2020-04-22 16:09] serban-nicusor-toptal commented on #852
Hey, math 3.2.0 is done.
There was a few merge conflicts that I had to solve and it resulted in this change being done: https://github.com/stan-dev/math/commit/5f28b8f106ada528fb81e83414a09121ccc87956

Posting here to be sure that won't break anything and is intended.

[2020-04-22 16:21] mitzimorris commented on #852
@serban-nicusor-toptal - are the docs getting updated automatically as part of the release now?  the reduce_sum case study links to the docs at the end.

also, I think the 2_23 docs for the User's Guide will have a bunch of really great new content - checking now.

[2020-04-22 18:34] serban-nicusor-toptal commented on #852
Update: The release for math, stan and cmdstan is done.

I am currently waiting on:
- stanc3 2.23.0 release, done through Jenkins
- docs 2.23 done through Jenkins

I am sorry that it takes more than usual but there is a VERY high load on AWS and our machines get terminated randomly because they're bought as on-demand ( we are using spot instances, which are instances not in use put for 80-90% less

[2020-04-22 18:51] serban-nicusor-toptal commented on #852
Hey @mitzimorris docs have been generated again here [PR](https://github.com/stan-dev/docs/pull/173) can you please take a look and confirm Jenkins did everything all right then merge? Thank you!

[2020-04-22 19:19] mitzimorris commented on #852
looks great - merged it!

[2020-04-22 19:21] serban-nicusor-toptal commented on #852
Everything works fine on the stan [release](https://github.com/stan-dev/stan/releases/tag/v2.23.0) thank you!

[2020-04-22 19:21] mitzimorris commented on #852
checking 2_22 docs - don't see redirects to 2_23 - maybe it'll take a few minutes to refresh?

[2020-04-22 19:26] serban-nicusor-toptal commented on #852
Checking the [logs](https://jenkins.mc-stan.org/blue/organizations/jenkins/BuildDocs/detail/BuildDocs/24/pipeline/28/) I don't see any error popping so everything should be working fine. Maybe it's cached somewhere. How can I debug this, on what page should I see a redirect ? I can check in the repository to see if it's there.

[2020-04-22 19:34] mitzimorris commented on #852
https://mc-stan.org/docs/2_22/stan-users-guide/index.html

[2020-04-22 19:35] mitzimorris commented on #852
https://mc-stan.org/docs/2_22/stan-users-guide/regression-models.html

[2020-04-22 19:37] mitzimorris commented on #852
https://github.com/stan-dev/docs/blob/master/link_to_latest.py  - this needs to be run on 2_22

but it's a destructive hack-and-a-half, so it shouldn't be run more than once.

[2020-04-22 19:38] wds15 commented on #852
On 2.22? Did you mean 2.23?

[2020-04-22 19:39] serban-nicusor-toptal commented on #852
I understand you mean the `This is an old version, view current version.`
Which can be seen here: https://mc-stan.org/docs/2_20/stan-users-guide/index.html
I just found out it's not on 2.22 either https://mc-stan.org/docs/2_22/stan-users-guide/index.html

I now understand what is wrong, will fix it in a PR in a second.

[2020-04-22 20:13] serban-nicusor-toptal commented on #852
Hey @mitzimorris please take a look at this [PR](https://github.com/stan-dev/docs/pull/174) it will fix the redirects.

What happened ? Totally my mistake sorry, forgot to make Jenkins read the Jenkinsfile from the docs repository and it was using a static outdated version. Also found a typo, everything should be fine now!

The [job](https://jenkins.mc-stan.org/job/BuildDocs/build?delay=0sec) take

[2020-04-22 21:07] mitzimorris commented on #852
looks great!

[2020-04-22 21:15] serban-nicusor-toptal commented on #852
Checked above links plus some extra, everything looks fine now. I have updated scripts and Jenkinsfile so next time it will work flawlessly.

I think everything is done for the current release:

- [math v3.2.0](https://github.com/stan-dev/math/releases/tag/v3.2.0)
- [stan v2.23.0](https://github.com/stan-dev/stan/releases/tag/v2.23.0)
- [cmdstan v2.23.0](https://github.com/stan-dev/cmdstan/release

[2020-04-22 21:35] mitzimorris commented on #852
I updated 2 pages in the stan-dev.github.io repo to point to the 2.23 docs for Stan and CmdStan.
https://github.com/stan-dev/stan-dev.github.io/commit/319f89de5239f3d0b62ff9de8df24acd5d27eef2

don't know if this is worth automating.

[2020-04-22 21:52] serban-nicusor-toptal commented on #852
I'll do it now, better to offload this kind of stuff to automation.

[2020-04-23 08:07] rok-cesnovar commented on #852
I think everything looks great. Thanks @serban-nicusor-toptal!
Closing.

[2020-04-23 08:07] #852 closed

[2020-04-23 14:53] mitzimorris commented on #594
https://github.com/stan-dev/cmdstan/pull/672

[2020-04-23 14:53] #594 closed

[2020-04-27 13:57] rok-cesnovar opened #863 "Optimize compile time"
#### Description:
We have regressed substantially in terms of compile time since the CRTP change in 2.20.

Bernoulli example compile time in 2.20: ~11.5 seconds
Bernoulli example compile time in 2.23: ~14.5 seconds

I also tried we a few other models:
![430d0c0c294600700e09e1d6640fe705a945a2df](https://user-images.githubusercontent.com/28476796/80379627-a30d7580-889e-11ea-9746-a734c2fbe815.png)

A

[2020-04-27 14:03] rok-cesnovar commented on #863
Its similar for clang++ on Ubuntu:

2.20: ~5.8s
2.23: ~8s

[2020-04-27 14:21] mitzimorris commented on #863
looks great!  please elaborate on potential spots and let me know if I can be of help.

[2020-04-27 14:57] bob-carpenter commented on #863
Thanks for the nice analysis, @rok-cesnovar.

Would it be possible to add compile-time tests to the test framework?  I'm pinging @serban-nicusor-toptal in case he has any thoughts.

With these tests instrumented, we can evaluate the tradeoffs of complicating our template patterns or other new features, as that's presumably where the time's going.

[2020-04-27 16:44] rok-cesnovar commented on #863
Sure, here is a chart of a "git bisection" I ran with a script. I started at 2.20 and evaluated at every 20th commit to cmdstan develop to 2.23.

![Rplot](https://user-images.githubusercontent.com/28476796/80397096-efb07b00-88b5-11ea-9b75-f6bebdc9e95d.png)

As you can see there is some gradual increase all the time (I think its due to increased complexity), but also 2 significant jumps. The second

[2020-04-27 16:49] rok-cesnovar commented on #863
We have those in some form (see performance.compilation in https://github.com/stan-dev/cmdstan/pull/862#issuecomment-617605734) but they are unreliable. One would have to run the (touch + make) thing in a loop to get more of a sense.

[2020-04-27 17:33] rok-cesnovar commented on #863
Another part is including boost headers we either dont need or use or can replace with std::. This is mostly in stan (outside of stan compiler code) and cmdstan.

[2020-04-27 19:17] rok-cesnovar commented on #863
Ran a custom performance run with all three boost cleanup branches https://jenkins.mc-stan.org/job/CmdStan%20Performance%20Tests/job/Custom/155/
Linux:
| Name | Old Result | New Result | Ratio | Performance change( 1 - new / old ) |
| ------------- |------------- | ------------- | ------------- | ------------- |
| compilation | 56.89 | 51.63 | 1.1 | 9.24% faster |

Mac:
| Name | Old Result | New R

[2020-04-28 14:46] rok-cesnovar commented on #863
Did some more digging with clang

Compile times of arK model over time with clang6 on Ubuntu:

![clangMarked](https://user-images.githubusercontent.com/28476796/80501342-9dcc2b80-896f-11ea-9f68-0fc5c72f96de.png)

Seeing as I fell in this rabbit already, I decided to dive in further. Here is a bit more details.

A - https://github.com/stan-dev/math/pull/1262 (this one is weird to me, but it seems t

[2020-04-30 23:04] wresch opened #867 "boost exception in MPI job: Exception: unregistered class - derived class not registered or exported"
#### Summary:
A model that worked in 2.21.0 fails in 2.22.1 and 2.23.0 with an exception that appears to be coming from the boost serialization library. Error message:

[code]

#### Description and reproduction

Building cmdstan with gcc 9.2.0 and OpenMPI 3.1.4
[code]

Other things i've tried:
 - gcc 5.5.0 with mpich2 3.2.1
 - openmpi 3.1.4 with intel compiler
 - openmpi 3.1.4 with gcc 7.4.0
 - op

[2020-05-01 08:15] wds15 commented on #867
Nope, I think this is stanc3 bug.

Can you put STANC2=true into make/local, then clean everything and try again?

[2020-05-01 08:18] rok-cesnovar commented on #867
Hi, this is the same issue as reported in https://github.com/stan-dev/stanc3/issues/527 and https://github.com/stan-dev/stanc3/issues/516

It will be fixed in https://github.com/stan-dev/stanc3/pull/517 we just need to get the PR reviewed.
Until then, use STANC2=true to get this model working.

[2020-05-01 12:14] wresch commented on #867
Ah - I should have checked over there. Thanks for the super fast and helpful feedback - testing now

[2020-05-01 13:09] wresch commented on #867
yes - that works! Thank you.

[2020-05-01 13:09] #867 closed

[2020-05-01 13:18] rok-cesnovar commented on #867
I didnt mean that in the sense that you should checked there - you are not expected to know all the details of the various repositories. So no worries there.

I posted so that other devs dont waste their time looking for bugs that are already known.

Thanks for reporting back and happy sampling.

[2020-05-01 13:38] rok-cesnovar commented on #863
At least on my system with clang++ we are mostly where we were when CRTP was added.

![clang](https://user-images.githubusercontent.com/28476796/80809131-54731a80-8bc1-11ea-8cad-582178dfb97c.png)

g++ was hit more by the added complexity, but also looks better

![gplusplus](https://user-images.githubusercontent.com/28476796/80809192-710f5280-8bc1-11ea-9ad7-7dc996169763.png)

Closing. Thanks @mitzi

[2020-05-01 13:38] #863 closed

[2020-05-03 09:18] rok-cesnovar opened #868 "make test-models-hpp is broken"
#### Summary:
Running
`make test-models-hpp`
on Linux returns

`make: Nothing to be done for 'test-models-hpp'`

It should instead build the test models. Running cmdstan tests still works, but can fail some times if building in parallel, which we do on Jenkins.

Examples:
https://jenkins.mc-stan.org/blue/organizations/jenkins/CmdStan/detail/downstream_tests/1638/pipeline
https://jenkins.mc-stan.or

[2020-05-03 16:10] #868 closed

[2020-05-03 16:58] mitzimorris opened #870 "add pre-compiled binary for Google colab notebooks to set of release files"
#### Summary:
In order to get fast install of CmdStanPy and CmdStanR on a Google Colab instance, provide a pre-compiled tgz of CmdStan as part of the CmdStan release

#### Description:
Because Google colab instances persist for at most 12 hours, the most usual colab experience requires a re-install of packages CmdStanPy/CmdStanR and a subsequent call to `install_cmdstan()` which downloads and comp

[2020-05-03 16:59] mitzimorris commented on #870
pinging @rok-cesnovar  and @serban-nicusor-toptal and @jgabry - is this a good idea?

currently working on notebooks for Andrew's covid blogpost, and would like to put up something soon.

[2020-05-03 19:03] mitzimorris commented on #870
gist of Colab notebook I've been using to create and store the tgz file:
https://colab.research.google.com/gist/mitzimorris/8ce72a4953443dd5a1c85c0e85078c13/cmdstan_tgz_colab2gcp.ipynb

[2020-05-03 19:30] mitzimorris commented on #870
just uploaded this to release for testing purposes:
https://github.com/stan-dev/cmdstan/releases/download/v2.23.0/colab-cmdstan-2-23.0.tgz

[2020-05-03 19:31] rok-cesnovar commented on #870
If I understand this correctly, there is a tgz file we need to add to the release? If so, can you link it so me or Nic can edit the release.

[2020-05-03 19:37] mitzimorris commented on #870
not sure what you mean by "there is a tgz file we need to add to the release" -
I've created a tgz file on a colab instance, downloaded it to my machine, and uploaded it to the release page.

the question is:  is this something we should automate going forwards?

I've muddied the discussion because previously, I was using google cloud storage as the place to stash the tgz files, thinking that in a

[2020-05-03 19:46] serban-nicusor-toptal commented on #870
Hey, we should def automate this through the release process.
Can I trigger your build in some automated way like an API call ? Will also take a look but asking so I can integrate it in a Jenkins job so it's easy to use.

I have a question, what is the use for Google Cloud Platform bucket ? Since it's on GitHub release, can't we get it from there rather than gcp ?

[2020-05-03 20:04] mitzimorris commented on #870
no use for gcp bucket - it was an experiment when I was trying to figure things out back in Dec.  github release dir seems like a much better option.

[2020-05-03 20:09] mitzimorris commented on #870
this should be doable somehow from Jenkins.   naive question - is it necessary to compile this on a Colab instance, or would any Ubuntu machine be OK?  in which case, this is one step of building pre-compiled binaries for all platforms.  have we discussed this before?

[2020-05-03 21:38] serban-nicusor-toptal commented on #870
Hmh to be honest I'm not entirely sure, I think @rok-cesnovar may help on this one, thanks!
If it's not dependent on a colab instance I can easily integrate it into a Jenkins job tied to the release one. Can you point me on the build and compile docs for this specific version ?

I don't think we did, if it's not dependent on a specific hardware then we can build with our agents for win,mac,linux.

[2020-05-03 22:39] mitzimorris commented on #870
By default, Google Colab gives you Python notebook, so I installed the latest CmdStanPy, ran function `install_cmdstan`, and then tgz'd the resulting install.

[code]
The `install_cmdstan` script gets the latest release (or specified release) and then runs `make build` as well as `make examples/bernoulli/bernoulli` in order to check that model compilation is working in order to detect any install

[2020-05-03 22:43] mitzimorris commented on #870
you can skip the whole CmdStanPy `install_cmdstan` bit - you really just want to do  `make build`  - not sure you need `make examples bernoulli/bernoulli`.

the top-level dir in the tarfile should be named `cmdstan-maj-min-patch`.

hope this is clear.

[2020-05-04 19:52] serban-nicusor-toptal commented on #870
Hey, I wrote a quick poc Jenkins job, you can check the output [here](https://jenkins.mc-stan.org/job/CmdStanPy-Binary/17/).

What's under the hood for now:
[code]
And then it will archive the artifact so it can be available from Jenkins [here](https://jenkins.mc-stan.org/job/CmdStanPy-Binary/17/artifact/cmdstan-2.23.0.tgz)
This was built on our Jenkins agents. Can I please ask you @mitzimorris to

[2020-05-05 00:23] mitzimorris commented on #870
awesome!! works on Colab.
will this work on any linux machine?  which linuxes do we have to test on?

we've been distributing just the source files as cmdstan-M.m.p.tar.gz.  what should this archive be named?  cmdstan-linux-M.m.p.tar.gz?

[2020-05-05 22:16] serban-nicusor-toptal commented on #870
I can't say for sure but it should work just fine on any debian linux and others.
I would test on Debian and Redhat since they're the most used ( Ubuntu, CentOS )
`cmdstan-linux-M.m.p.tar.gz` sounds good to me or `cmdstan-linux-debian-M.m.p.tar.gz` may be a bit better since it was built on debian.

[2020-05-05 22:47] mitzimorris commented on #870
Columbia's HPC cluster is running RHEL - does that mean CentOS?  in which case, I can test there, unless you have access to a test machine.

[2020-05-05 23:00] serban-nicusor-toptal commented on #870
Yes, it's the enterprise version, centos is the open source one but kinda
the same under the hood.
I don't have any centos around but if needed I can spin up a vm locally or
in aws. What do I need to test on it?

On Wed, 06 May 2020, 00:47 Mitzi Morris, <notifications@github.com> wrote:

[2020-05-05 23:17] mitzimorris commented on #870
try the eight_schools model and data file -

https://github.com/stan-dev/example-models/blob/master/misc/eight_schools/eight_schools.stan

R data file:
https://github.com/stan-dev/example-models/blob/master/misc/eight_schools/eight_schools.stan

corresponding JSON:  (eight_schools.data.json) - I should add this to the repo
[code]
make eight_schools
./eight_schools sample data file=eight_schools.da

[2020-05-07 01:56] mitzimorris commented on #870
I downloaded the colab build (https://github.com/stan-dev/cmdstan/releases/download/v2.23.0/colab-cmdstan-2.23.0.tar.gz)  onto both a RHEL node on the Columbia HPC cluster and onto an AWS instance that @serban-nicusor-toptal spun up -

the pre-compiled stanc binaries for linux work on both instances no problem.
the linker, however fails - quickly on AWS,  very slowly and mysteriously on the cluste

[2020-05-07 02:01] mitzimorris commented on #870
update - the Columbia HPC cluster node didn't like the downloaded `src/cmdstan/main.o` so I removed it and tried to rerun `build` - now getting same behavoir as AWS:

[code]

[2020-05-07 02:02] mitzimorris commented on #870
conclusion:  TBB requires different builds for debian and centos  ?

[2020-05-11 14:05] rok-cesnovar opened #872 "Precompiled header with g++"
#### Description:

We are currently using precompiled model headers (model_header.hpp.gch) only with clang. See lines 20-23 here: https://github.com/stan-dev/cmdstan/blob/develop/make/program#L20

We could do the same with `g++`  which would speedup `g++` compilation of a model to match with clang - see https://github.com/stan-dev/cmdstan/issues/863#issuecomment-622392026.

I tried this out on Lin

[2020-05-11 15:10] rok-cesnovar commented on #872
I almost forgot, there is also a warning with g++:
[code]
Its an Eigen issue: https://gitlab.com/libeigen/eigen/-/issues/1221
They propose setting  `-Wno-ignored-attributes` to compile flags. Then it goes away.
It has no effect on performance.

[2020-05-11 15:15] wds15 commented on #872
option A sounds great.

I would say that on Mac everyone uses clang is a fair statement.

[2020-05-11 16:03] mitzimorris commented on #872
A: use it by default on Linux and Mac (do people use g++ on a Mac at all?),
and hide it behind a makefile flag (PRECOMPILED_HEADERS=true for example)
so users on Windows with RTools 4.0 can use it.

how exactly will this work?  on all 3 platforms, build g++ headers so that
on Mac, most users won't notice because they'll be using clang, on Linux,
faster compile, and Windows with Rtools 4.0, also fa

[2020-05-11 16:22] rok-cesnovar commented on #872
On mac/linux with clang: no change, precompiled headers are already used
On mac/linux with g++: precompiled headers would now be built and used

On Windows without the flag: no change
Windows with flag: precompiled headers would be built and used (works with RTools 4 only)

CmdstanR/Py could help windows users by setting it automatically based on detected toolchain.

[2020-05-12 14:30] vanessambrown opened #873 "Issues installling cmdstan on Windows"
Summary: I'm getting errors installing cmdstan via cmdstanR on RStudio, following the guidelines here: https://mc-stan.org/cmdstanr/articles/cmdstanr.html. I have also tried installing cmdstan directly from github and get the same error messages, so I'm assuming it's a cmdstan issue.

Description: I'm running Windows 10, RTools 3.5 (and R 3.6.1, RStudio 1.2.5025 if that matters). My Path environme

[2020-05-12 14:39] rok-cesnovar commented on #873
Are you running `install_cmdstan(overwrite=TRUE)` with the cores argument? If so, try with
`install_cmdstan(overwrite=TRUE, cores = 1)`

[2020-05-12 15:05] vanessambrown commented on #873
That specific error message came from running install_cmdstan(overwrite=TRUE) - sorry for not noting that - but the same messages happen if I delete the previous install. I also tried install_cmdstan(overwrite=TRUE,cores=1), same issue.

[2020-05-12 17:06] rok-cesnovar commented on #873
Ok, found what is going on. This is an issue with cmdstan relying on `chmod` which is not part of rtools.

In your case run install_cmdstan(overwrite=TRUE) until it fails then do:

[code]

then restart the R session and start using cmdstanr.

[2020-05-12 18:04] vanessambrown commented on #873
when I try the first command (file.copy), RStudio returns "FALSE". There is a stanc.exe in the directory now though, but when I tried the second command I got the output at the bottom (it's long).

I tried adding the specified path to my PATH variable (this is in Control Panel -> Advanced System Settings -> Environment Variables -> System Variables -> Path) , closing RStudio, rerunning the command

[2020-05-12 18:06] rok-cesnovar commented on #873
Yes, the output is long. But the main point is `CmdStan v2.23.0 built ---`. So you are good.
You can now try the example.

[code]

[2020-05-12 18:10] vanessambrown commented on #873
Ah, got it! I assumed things hadn't worked, but the stan model indeed runs. Thanks so much!

[2020-05-12 18:10] #873 closed

[2020-05-17 23:58] bob-carpenter commented on #872
I like solution (A) and think it's well worth doing.  It'll also have the nice side effect of encouraging Windows users to upgrade RTools.

[2020-05-18 15:41] #872 closed

[2020-05-23 10:13] rok-cesnovar opened #876 "make clean-all does not clean all"
#### Description:

`make clean-all` does not clean everything. The `*.d` files from the old stanc are being built but not cleaned.

So this is a 2 part issue:
- the *.d files for the old stanc should not get build if not using it
- they should get cleaned up

#### Reproducible Steps:

On Linux/Mac:

- clone a fresh copy of cmdstan and cd to it
- `find . -type f | wc -l` (count the number of files

[2020-05-23 10:45] rok-cesnovar opened #877 "Add Jenkins tests for makefiles"
#### Description:

We should add Jenkins tests that would test typical makefile issues we have seen over time that we have to manually check every time we change the makefiles:

- example bernoulli model compiles
- main.o and precompiled headers are rebuilt if a change is done in math or stan submodules
- model recompiles if a change is done to the cmdstan src files
- model compilation works if re

[2020-05-25 21:08] #876 closed

[2020-05-27 19:03] JohannesBuchner opened #881 "Segmentation fault with large Rdump file"
#### Summary:
Segmentation fault occurs in code loading large 2d matrix.

#### Description:
I am trying to use

#### Reproducible Steps:
Rdata: http://www.mpe.mpg.de/~jbuchner/temp/xdrw_parallel.Rdata.gz

Code:

[code]

build: `make -C ~/Downloads/stan/cmdstan-2.23.0/ $PWD/xdrw_parallel`
sample: `./xdrw_parallel sample data file=xdrw_parallel.Rdata`

#### Current Output:

`Segmentation fault (core

[2020-05-27 19:19] mitzimorris commented on #881
thanks for the data - will run this through the Stan rdump reader.

[2020-05-27 19:37] #836 closed

[2020-05-30 18:42] #840 closed

[2020-05-31 04:34] #861 closed

[2020-06-01 09:16] rok-cesnovar opened #884 "Manual build tests are currently a no-op"
#### Description:
Cmdstan manual build tests are currently done with Circle CI. There is no issue with Circle CI itself, the problem is how we use it.

There are two separate issues:
- we rely on a docker image from Sean's personal docker account. This is a minor issue.
- The tests do nothing. They catch no errors. This is a major issue.

I propose we switch to Github Actions for this tests. That

[2020-06-01 11:56] rok-cesnovar commented on #745
This was fixed in one of the makefile refactors. Not an issue on current develop.

[2020-06-01 11:56] #745 closed

[2020-06-01 11:57] rok-cesnovar commented on #757
No longer required after https://github.com/stan-dev/cmdstan/pull/882

[2020-06-01 11:57] #757 closed

[2020-06-01 12:21] rok-cesnovar commented on #755
I am going to close this since we dont require downloads with releases anymore.

[2020-06-01 12:21] #755 closed

[2020-06-04 17:23] rok-cesnovar opened #885 "When rebuilding stanc3 from source, main.o is rebuilt unnecessarily"
#### Description:

When using stanc3 built from source with cmdstan (`STANC3=path/to/stanc3` in `make/local`), every time there is a change in the stanc3 compiler, main.o is recompiled.

This only affects developers not the users but it is unnecessary.

#### Current Version:
v2.23.0

[2020-06-04 17:39] mitzimorris commented on #885
good catch!

[2020-06-04 19:52] rok-cesnovar opened #886 "Performance tests should fail on compile error"
#### Description:

A model in the performance tests failed to compile:
https://jenkins.mc-stan.org/blue/organizations/jenkins/CmdStan/detail/downstream_tests/1715/pipeline/83

but the test went green. It should fail.

#### Current Version:
v2.23.0

[2020-06-04 19:53] rok-cesnovar commented on #886
@serban-nicusor-toptal would you know a simple fix for this?

[2020-06-05 09:56] serban-nicusor-toptal commented on #886
Hey, took a look last night and couldn't find a reason for it. Will keep debugging

[2020-06-07 11:28] rok-cesnovar opened #887 "Add ./model compile_info"
#### Description:

We should add a  "compile_info" argument to the model executable that would output information on how to executable was compiled:

Example:

`./examples/bernoulli/bernoulli compile-info`

outputs:

[code]
For now, I envisioned adding the stan version, stanc flags, stanc version, and whether the THREADS/MPI/OPENCL flags were used.

Other options I am not sure we want to use but c

[2020-06-07 11:32] rok-cesnovar commented on #887
I have this implemented in stan/cmdstanstanc3 but will wait for feedback before proceeding.

The model would get a constructor with no arguments and a compile info function.

[code]
and

[code]

[2020-06-07 11:35] rok-cesnovar commented on #887
Primary use case is cmdstanX wrappers but this is useful for cmdstan also. I found myself not knowing if I compiled a model with STAN_THREADS/STAN_OPENCL a lot :) .

[2020-06-07 13:04] wds15 commented on #887
I would find it better to have a config.hpp or the like in stan-math. This file would be like our make/local, but more standard like as other packages are doing it.

What is the use case for exposing this via cmdstan?

The name compile_info is possibly misleading as this would include -OX things as well. It should be better to call it something which says „enabled features“ or the like.

[2020-06-07 13:16] rok-cesnovar commented on #887
That would work for THREADS/MPI/OPENCL but that does not give you version numbers/stanc3 version. Maybe there is a misunderstanding here. This is meant for printing information on how the model was compiled. Not compiling or setting compile flags.

Not sure I understand. This is a cmdstan(X) feature, so it should be exposed in cmdstan. It makes on sense in math as we have no concept of a model the

[2020-06-07 16:59] mitzimorris opened #888 "utility `bin/stansummary` - choose CIs"
#### Summary:
Currently `bin/stansummary` reports the central 90% credible interval.
https://github.com/stan-dev/cmdstan/blob/fd7262ec6e7a987d8b386dfd8817eff323dfaa36/src/cmdstan/stansummary.cpp#L110-L111

add command line option allowing user to specify set quantiles in the form of an ordered, comma-separated list, e,g, --percentiles "5,25,50,75,95" or --percentiles "5, 23, 50, 71, 89".

#### Des

[2020-06-08 03:11] betanalpha commented on #887
While we still have the monolithic CSV output it would be great to add this
info there as well to make everything as reproducible as possible.

[2020-06-08 05:03] rok-cesnovar commented on #887
That is a good call. The threads/mpi/opencl are represented in a way in the CSV, though that could be made more explicit. For example, num threads is listed but we should also state that threads_enabled = 1.

The version of the compiler and the flags used to compile is however not there. And given that compile-time optimizations in stanc will be available in the next release we really must add thi

[2020-06-08 07:27] rok-cesnovar commented on #887
One other potentially nice thing would be to also output the input data names and their types in a machine friendly way.
[code]
The use case is nicer messages on what data is missing in both cmdstan and cmdstanX.

[2020-06-08 12:37] #884 closed

[2020-06-10 11:43] rok-cesnovar commented on #825
At least the threads part of this would be great to do for 2.24. For backward compatiblity we need to still support the environment variable.

[2020-06-10 11:53] wds15 commented on #825
but we should deprecate the environment variable stuff once we have this feature.

[2020-06-10 23:58] mitzimorris commented on #888
@rok, @syclik, @wd, @bbbales2:  should we swap out use of homegrown command-line parser with https://www.boost.org/doc/libs/1_73_0/doc/html/program_options.html

[2020-06-10 23:59] mitzimorris commented on #888
sorry - wrong rok - meant @rok-cesnovar ^^ use of boost program_options lib?

[2020-06-11 17:52] karldw opened #889 "cmdstan can fail to compile, depending on stan filename"
#### Summary:

Stan models fail to compile when the stan model file has an unusual filename.

#### Description:

I noticed that my cmdstanr compilation was failing for some files with unusual, but valid, filenames. I think this is a problem with cmdstan, rather than cmdstanr. A couple of characters that are trouble seem to be `+` and `(`, but I'm sure there are others.

#### Reproducible Steps:

C

[2020-06-11 18:00] bob-carpenter commented on #889
It needs to be a legal Stan identifier when `-` is converted to `_`.

That means `[a-zA-Z][_0-9a-zA-Z]*`

This should be tested from the outside.

[2020-06-11 19:26] rok-cesnovar commented on #889
Stanc3 should test that and could either:
- error early
- replace special characters with _ or just remove them

[2020-06-12 02:16] mitzimorris commented on #888
will need to adjust makefile - https://stackoverflow.com/questions/43279924/clang-compile-simple-boost-program-linker-command-failed

[2020-06-12 18:09] karldw commented on #889
If it helps, I rant into this issue by trying to name the stan file after a (sanitized) brms formula:
 `y - x1 + x2 + (1  x3).stan`

[2020-06-13 19:37] karldw opened #891 "Fitting 35000 parameters causes cmdstan to fail"
#### Summary:
I noticed that when I run a large imputation program in cmdstan, the program fails. There seem to be problems for both ADVI and MCMC.

#### Description:
When running [imputation within brms](https://paul-buerkner.github.io/brms/articles/brms_missings.html) each missing data point is a parameter, so it's easy to get quite high parameter counts. When I run one of these models with ADVI

[2020-06-15 11:07] rok-cesnovar commented on #870
I apologize, forgot to reply here. Feel free to tag me again if I miss anything.

Yes, I think its not possible to do that. In general its very difficult to pre-compile for Linux across the board due to differences in std libs and other libraries, etc.

You can precompile for Linux if you bundle everything you depend on but that can lead to huge binaries. Things work on the same distribution with

[2020-06-15 11:07] #870 closed

[2020-06-15 16:02] mitzimorris opened #892 "pre-compiled binaries for Mac, Windows - maybe Linux?"
#### Summary:
for each release, make downloadable binaries for Mac, Windows, and Linux.
this extends https://github.com/stan-dev/cmdstan/issues/870

#### Description:
this feature would be useful for CmdStanX wrappers - it would speed up initial installation.
for Mac and Windows users, we would have to decide whether or not to install anticipating
use of map_rect and threading on or off.    we als

[2020-06-15 16:02] mitzimorris commented on #892
@rok-cesnovar @serban-nicusor-toptal - is this doable in general?

[2020-06-15 16:11] mitzimorris commented on #891
hi, what interface are you using?  BRMS + CmdStanR?   or running the BRMS-generated Stan program directly via CmdStan with your data?  or?

what interface worked if you set `iter=10`?
have you checked the amount of free disk space on your machine?
if you've got 35000 parameters, the output csv file will be fairly large if you go for the usual 1000 iterations - once the disk is full, things start t

[2020-06-15 16:46] rok-cesnovar commented on #892
We could build stansummary, diagnose and the deprecated print as those are actual executables and they dont rely on any libs I think. We cant build main.o or precompiled headers, especially the latter is compiler version dependent.

Benefits of doing this are:
- smaller tarballs to download (only the OS-specific stanc3, a bit is added due to bin/*.exe files though)
- faster install for Mac/Win (se

[2020-06-15 17:38] mitzimorris commented on #892
many thanks for the above - closing this issue.  we need a package installer, not this.

[2020-06-15 17:38] #892 closed

[2020-06-15 21:50] karldw commented on #891
I'm using brms + cmdstanr. I've also tried running the brms-generated stan code with cmdstanr (demo below).

When I tried `iter=10`, I used brms with `backend=cmdstan` like this:
[code]

This is how I've run the models directly with cmdstanr:
[code]

I have quite a bit of free disk space. `/tmp/`, where these files are stored, has 378 GB free.

I noticed that `algorithm="fullrank"` fails, but `alg

[2020-06-15 23:36] karldw commented on #891
As I mentioned, the CSVs files are saved, and look like they were written successfully. I'm able to read them in with `rstan::read_stan_csv`, but `cmdstanr::read_sample_csv` kills the R process.

[code]

[2020-06-16 02:51] karldw commented on #891
Given these issues, it seems like I'm hitting two problems:
1. `algorithm="fullrank"` is having trouble allocating memory with so many parameters.
2. cmdstanr is having trouble reading the CSVs.

I'm not sure there's much to be fixed with (1). (Maybe a clearer error message?)

For (2), it would be nice if cmdstanr could read CSVs without error. (By default, this reading also happens in the `mod$sa

[2020-06-16 14:00] mitzimorris commented on #891
@jgabry and @paul-buerkner - some combination of problems here - any thoughts?

[2020-06-16 14:14] jgabry commented on #891
@rok-cesnovar any idea why `cmdstanr::read_sample_csv()` would fail when `rstan::read_stan_csv()` works ok?

[2020-06-16 14:19] rok-cesnovar commented on #891
Not really, but I would definitely like to know.

The best option would be to get an example csv that fails.

Will try some large files in the meantime. I did try previously with up to 1GB CSV files and that worked fine.

[2020-06-17 07:58] #888 closed

[2020-06-20 16:29] #886 closed

[2020-06-20 18:27] karldw commented on #891
@rok-cesnovar, the brms model above creates CSVs that fail, but if it's more convenient, I uploaded one here: https://berkeley.box.com/s/fgkbmga5raoshr5h2e4jr59u7vcfo65l (link is active until June 30)

[2020-06-23 15:46] mitzimorris opened #895 "generated quantities can't handle vector[1]"
#### Summary:
discussion here:
https://discourse.mc-stan.org/t/generated-quantiles-sampler-in-r-with-parameter-vector-of-length-1/16134/4

#### Description:
investigate problem with param parsing and for all container objects.

#### Reproducible Steps:

#### Current Output:
The current output. Knowing what is the current behavior is useful.

#### Expected Output:
Describe what you expect the outpu

[2020-06-29 15:17] mitzimorris commented on #887
putting this into the monolithic CSV output header makes sense - we need to document the exact format or order of this info w/r/t the command line config info.

[2020-06-30 15:12] rok-cesnovar opened #897 "Update manual that underscored stanc3 args were deprecated"
After https://github.com/stan-dev/stanc3/pull/599 all stanc3 arguments use hyphens instead of underscores.

`--allow_undefined` and `--include_paths` were deprecated in favor of `--allow-undefined` and `--include-paths`

That needs to be updated in the manual.

#### Current Version:
v2.23.0

[2020-06-30 15:50] mitzimorris commented on #897
thanks - will fix as part of conversion of docs to html for next release.

[2020-07-03 08:08] rok-cesnovar opened #898 "Fix the suggestion in error message when missing submodules"
Reported by @torkar

If cloning with `git clone https://github.com/stan-dev/cmdstan` (without --recursive which doesnt clone stan and math) you get

[code]
but this suggestion only clones the stan repo, not math.

Change the suggestion to
[code]

#### Current Version:
v2.23.0

[2020-07-03 08:41] rok-cesnovar commented on #841
This was fixed by https://github.com/stan-dev/stan/pull/2931

[2020-07-05 10:14] rok-cesnovar commented on #841
Apologies, this is still very much an open issue.

[2020-07-05 17:07] #841 closed

[2020-07-05 17:13] #898 closed

[2020-07-05 19:28] mitzimorris opened #901 "standalone generated quantities - check that `fitted_params` filename != output filename"
#### Summary:
If the `fitted_params` file is the same as the output file, this results in an error
and the existing fitted params file is overwritten.

#### Description:
CmdStan opens the output file before it tries to read in the sample
from the `fitted_params` file. If the output file exists, this clobbers
the contents of the output file.

#### Reproducible Steps:
To see this, in directory `exam

[2020-07-06 12:07] #901 closed

[2020-07-07 00:52] mitzimorris opened #903 "stansummary: separate sections for summaries of sampler parameters and model parameters"
#### Summary:
Aki says: https://discourse.mc-stan.org/t/cmdstan-guide-now-online/16368/10

#### Description:
The first several rows reported by stansummary are of no practical use w/r/t assessing the fit;
the `diagnose` command correctly analyzes these columns.
Therefore, if possible, skip the computation altogether, if not, don't report the statistics.

#### Current Output:
Example here: https://

[2020-07-07 03:46] betanalpha commented on #903
Please do not.  The summaries of the sampler parameters (importantly the mean,
variance, and quantiles) are informative of the fitting behavior and ar not included
in stansummary.  The Rhat and ESS are incidental and maintain the formatting of
the output.  The inclusion of the sampler parameters in the output was an explicit
choice.

[2020-07-07 04:11] mitzimorris commented on #903
thank you Michael, that's a valid point.

since we now have the `diagnose` program as well, we could include the
summary of the sampler parameters at the beginning of the output;
also provide them as .csv, without the Rhat and ESS columns.
would this make sense concept-wise and reporting-wise?

[2020-07-07 16:22] bob-carpenter commented on #903
I appreciate the report of sampler diagnostics and prefer it to the way RStan elides them from reporting.

As a Stan dev, I know a bunch of columns are meaningless, so just ignore them.  But it has been a source of confusion fo rusers, who often try to follow our advice like all R-hat values should be near 1 or who have no idea what these things are that are being reported.

If the sampler diagnos